

    <section class="forum talks-single">

        <div class="dd dd-draghandle">
            <ol class="dd-list">

                <li class="dd-item dd2-item topic-item">
                    <div class="dd2-content widget-box topic-descr">
                        <div class="widget-body">
                            <div class="widget-main">
                                <div class="topic-left">
                                    <a href="#">
                                        <img src="i/avatars/clint.jpg" alt="картинка" /></a>
                                    <div class="topic-author">
                                    </div>
                                </div>
                                <div class="topic-right" ng-switch on="talks.fullTalkTopic.metaType">
                                        <h2>
                                            <span>{{talks.fullTalkTopic.subject}}</span>
                                        </h2>

                                    <p ng-switch-when="message">{{talks.fullTalkTopic.message.content}}</p>

                                    <div class="poll" ng-switch-when="poll"  ng-switch on="talks.fullTalkTopic.poll.alreadyPoll" ng-cloak>
                                        <div class="text" ng-cloak>{{talks.fullTalkTopic.message.content}}</div>

                                        <h5>{{talks.fullTalkTopic.poll.subject}}</h5>

                                        <div class="poll-do" ng-switch-when="false">

                                            <div class="radio" ng-repeat="variant in talks.fullTalkTopic.poll.editNames">
                                                <label>
                                                    <input name="poll-variant-{{talks.fullTalkTopic.id}}" ng-model="variant.value" value="1" type="radio" class="ace">
                                                    <span class="lbl">{{variant.name}}</span>
                                                </label>
                                            </div>

                                            <button class="btn btn-sm btn-primary no-border" ng-click="base.doPoll($event,talks.fullTalkTopic.poll)">Голосовать</button>

                                        </div>

                                        <!-- -->

                                        <div class="poll-results" ng-switch-when="true">

                                            <div class="poll-result-item"  ng-repeat="variant in talks.fullTalkTopic.poll.editNames">
                                                <div class="poll-result-variant">{{variant.name}}</div>
                                                <div class="poll-row">
                                                    <div class="poll-row-line">
                                                        <div class="poll-line-percent" ng-style="{width: variant.votersPercent}"></div>
                                                        <div class="poll-line-number" style="width: 100%">{{variant.votersNum}}</div>
                                                    </div>
                                                    <div class="poll-row-percent">{{variant.votersPercent}}</div>
                                                </div>
                                            </div>

                                            <div class="poll-result-amount">Проголосовало <span>{{talks.fullTalkTopic.poll.amount}}</span> человек</div>

                                        </div>

                                    </div>

                                        <div class="message-bottom">
                                            <span class="topic-header-date">{{talks.fullTalkTopic.message.createdEdit}}</span>
                                            <a class="answer-link" href="#" ng-click="talks.showTopicAnswerInput($event)">Ответить</a>
                                        </div>
                                </div>
                            </div>
                            <div class="answer-input" ng-show="talks.fullTalkTopic.answerInputIsShow">
                                <textarea ng-model="talks.answerFirstMessage" class="no-resize"
                                          onblur="if(this.value=='') this.value='Ваш ответ';"
                                          onfocus="if(this.value=='Ваш ответ') this.value='';"></textarea>
                                <a class="btn btn-sm no-border btn-primary" href="#" ng-click="talks.addSingleFirstMessage($event,talks.fullTalkTopic.id)">Отправить</a>
                            </div>
                        </div>
                    </div>
                    <ol class="dd-list">

                        <li class="dd-item dd2-item topic-item" ng-repeat="firstMessage in talks.fullTalkFirstMessages" id="{{firstMessage.id}}">
                            <div class="dd2-content widget-box topic-descr">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="topic-left">
                                            <a href="#">
                                                <img src="i/avatars/clint.jpg" alt="картинка" /></a>
                                            <div class="topic-author">
                                                <a class="fa plus-minus" href="#" ng-class="{ 'fa-plus' : !firstMessage.isTreeOpen,'fa-minus' : firstMessage.isTreeOpen}"
                                                   ng-click="talks.toggleTreeFirstMessage($event,firstMessage)"></a>
                                            </div>
                                        </div>
                                        <div class="topic-right">
                                            <h2><a href="#">Автор автор</a></h2>
                                            <p>{{firstMessage.content}}</p>
                                            <div class="message-bottom">
                                                <span class="topic-header-date">{{firstMessage.createdEdit}}</span>
                                                <a class="answer-link" href="#" ng-click="talks.showMessageAnswerInput($event,firstMessage)">Ответить</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="answer-input" ng-show="firstMessage.answerInputIsShow">
                                        <textarea ng-model="firstMessage.answerMessage" class="no-resize"
                                            onblur="if(this.value=='') this.value='Ваш ответ';"
                                            onfocus="if(this.value=='Ваш ответ') this.value='';"></textarea>
                                        <a class="btn btn-sm no-border btn-primary" href="#" ng-click="talks.addSingleMessage($event,talks.fullTalkTopic.id,firstMessage)">Отправить</a>
                                    </div>
                                </div>
                            </div>
                            <ol class="dd-list" ng-show="firstMessage.isTreeOpen">

                                <li class="dd-item dd2-item topic-item" ng-repeat="message in talks.fullTalkMessages[firstMessage.id]"
                                    ng-style="{'margin-left': {{message.offset*30-30}}}" ng-show="message.isOpen && message.isParentOpen">
                                    <div class="dd2-content widget-box topic-descr">
                                        <div class="widget-body">
                                            <div class="widget-main">
                                                <div class="topic-left">
                                                    <a href="#">
                                                        <img src="i/avatars/clint.jpg" alt="картинка" /></a>
                                                    <div class="topic-author">
                                                        <a class="fa plus-minus" href="#" ng-class="{ 'fa-plus' : !message.isTreeOpen,'fa-minus' : message.isTreeOpen}"
                                                           ng-click="talks.toggleTree($event,message,firstMessage)"></a>
                                                    </div>
                                                </div>
                                                <div class="topic-right">
                                                    <h2><a href="#">Автор автор</a></h2>
                                                    <p>{{message.content}}</p>
                                                    <div class="message-bottom">
                                                        <span class="topic-header-date">{{message.createdEdit}}</span>
                                                        <a class="answer-link" href="#" ng-click="talks.showMessageAnswerInput($event,firstMessage,message)">Ответить</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="answer-input" ng-show="message.answerInputIsShow">
                                                <textarea ng-model="message.answerMessage" class="no-resize"
                                                          onblur="if(this.value=='') this.value='Ваш ответ';"
                                                          onfocus="if(this.value=='Ваш ответ') this.value='';"></textarea>
                                                <a class="btn btn-sm no-border btn-primary" href="#" ng-click="talks.addSingleMessage($event,talks.fullTalkTopic.id,firstMessage,message)">Отправить</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </li>

                    </ol>
                </li>
            </ol>
        </div>

    </section>

