
<section class="counters page" ng-class="base.mapsLoadStatus">

    <ul class="counters-menu">
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
    </ul>

    <table class="counters-table">
        <thead>
        <tr>
            <td>Тип</td>
            <td>Место установки</td>
            <td>Предыдущее показание</td>
            <td>Показание</td>
            <td>Расход</td>
        </tr>
        </thead>
        <tr ng-repeat="counter in counters.counters">
            <td>{{ counter.typeString }}</td>
            <td>{{ counter.location }}</td>
            <td>{{ counter.lastValue }}</td>
            <td><input type="text"/></td>
            <td></td>
        </tr>
    </table>

    <button class="btn btn-sm btn-primary no-border" ng-click="counters.save()">Сохранить</button>

</section>

