
<section class="counters page">

    <!--<ul class="counters-menu">
        <li><a href="#">История</a></li>
    </ul>-->

    <table class="counters-table">
        <thead>
        <tr>
            <td>Тип</td>
            <td>Место установки</td>
            <td>Предыдущее показание</td>
            <td>Показание</td>
            <td>Расход</td>
        </tr>
        </thead>
        <tr ng-repeat="counter in counters.counters" > <!-- ng-repeat="counter in counters.counters" -->
            <td ng-switch="counter.type">
                <span ng-switch-when="0">Горячая вода</span>
                <span ng-switch-when="1">Холодная вода</span>
                <span ng-switch-when="2">Электричество</span>
                <span ng-switch-when="3">Электричество(ночь)</span>
                <span ng-switch-when="4">Электричество(день)</span>
                <span ng-switch-when="5">Газ</span>
            </td>
            <td class="align-center">{{ counter.location }}</td>
            <!--<td class="align-center" ng-if="counter.lastValue == 0">-</td>-->
            <td class="align-center">
                {{counter.lastValue}}
                <div><a ui-sref="counters-history({ counterId : counter.id })">история показаний</a></div>
            </td>
            <td><input type="text" ng-model="counter.currentValue"/></td>
            <td>{{counter.currentValue - counter.lastValue}}</td>
        </tr>
    </table>

    <button class="btn btn-sm btn-primary no-border pull-right" ng-click="counters.save()">Сохранить</button>

</section>

