
<section class="dialog page" infinite-scroll="dialog.addMoreItems()">
        <div class="clearfix">
            <div class="dialog-send">
                <div class="dialog-send-left pull-left">
                    <div class="avatar short2" style="background-image: url({{base.me.avatar}})"></div>
                </div>
                <div class="dialog-send-right pull-right">
                    <div class="avatar short2" style="background-image: url({{user.avatar}})" ng-repeat="user in dialog.users"></div>
                </div>
                <div class="dialog-send-center">
                    
                    <div ng-include="'templates/createMessage.html'" onload="ctrlMessage=dialog; ctrlId = '000'; initCreateMessage(ctrlId);"></div>

                </div>
            </div>

            <div ng-show="!dialog.privateMessages || dialog.privateMessages.length == 0" class="empty-messages">{{base.emptyMessage}}</div>

            <div class="private-message-single text-container"  ng-repeat="message in dialog.privateMessages">
                <div class="pull-right">
                    <div class="message-tools clearfix" ng-show="message.author == base.me.id">
                        <a href="#" title="Удалить" class="message-delete-link pull-right" ng-click="base.deleteMessage(message,dialog.privateMessages,false,false,true)">&times;</a>
                        <a href="#" title="Редактировать" ng-click="base.setEdit($event,message)" class="fa fa-pencil pull-right"></a>
                    </div>
                    {{message.created*1000 | date:'HH:mm dd.MM.yy'}}
                </div>
                <div class="private-message-left">
                    <div class="private-message-ava pull-left">
                        <div class="avatar short" style="background-image: url({{message.authorProfile.userInfo.avatar}})"></div>
                    </div>
                    <div class="private-message-author">
                        <div><a ui-sref="profile({ userId : {{ message.authorProfile.userInfo.userId }} })">{{message.authorProfile.userInfo.firstName + " "+ message.authorProfile.userInfo.lastName}}</a></div> <!--  -->

                        <div ng-hide="message.isEdit">
                            <p class="text">{{message.content}}</p>

                            <div class="attached">
                                <a href="{{image.URL}}" class="fancybox" ng-click="$event.preventDefault()" rel="attached-group-dialog-{{message.id}}" ng-repeat="image in message.images">
                                    <img ng-src="{{image.URL}}?w=150&h=150" alt="картинка"/>
                                </a>
                                <div class="docs">
                                    <div ng-repeat="document in message.documents"><a ng-href="{{document.URL}}" target="_blank" class="doc-item">{{document.fileName}}</a></div>
                                </div>
                            </div>

                        </div>

                        <div class="edit-message" ng-show="message.isEdit">
                            <div ng-include="'templates/editMessage.html'" onload="ctrlMessage=message; ctrlId = dialog.dialogId+'-'+message.id; initCreateMessage(ctrlId,true);"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


</section>