
<section class="dialog page">
        <div class="clearfix">
            <div class="private-message-single"  ng-repeat="message in dialog.privateMessages">
                <div class="pull-right">{{message.created | date}}</div>
                <div class="private-message-left pull-left">
                    <div class="private-message-ava pull-left">
                        <div class="avatar" style="background-image: url({{message.authorProfile.userInfo.avatar}})"></div>
                    </div>
                    <div class="private-message-author">
                        <div><a href="#">{{message.authorProfile.userInfo.firstName + " "+ message.authorProfile.userInfo.lastName}}</a></div>
                        <p>{{message.content}}</p>

                    </div>
                </div>

            </div>
        </div>
    <div class="dialog-send">
        <div class="dialog-send-left pull-left">
            <img src="../../i/avatars/avatar.png" alt="аватар"/>
        </div>
        <div class="dialog-send-right pull-right">
            <img src="../../i/avatars/avatar3.png" alt="аватар"/>
        </div>
        <div class="dialog-send-center">
            <textarea></textarea>
            <a class="btn btn-sm btn-primary no-border" href="#">Отправить</a>
        </div>
    </div>

</section>