
<section class="private-messages page"> <!-- ng-show="base.privateMessagesIsActive" -->
    <a class="btn btn-primary no-border btn-sm pull-right" ui-sref="neighbours">Написать сообщение</a>
    <form method="post" action="#" class="form-group has-info form-search-private">
<!--
        <span class="block input-icon input-icon-right">
-->
            <input id="search-private-messages" type="text" class="form-control width-70" value="Поиск" onblur="if(this.value=='') this.value='Поиск';" onfocus="if(this.value=='Поиск') this.value='';"/>
            <!--<a href="#" class="icon-search icon-on-right bigger-110"></a>-->
        <!--</span>-->
    </form>
    <!--<div class="private-messages">-->
        <div>
            <div class="private-message-single" ng-click="dialogs.goToSingleDialog(dialog.id)" ng-repeat="dialog in dialogs.dialogsList"> <!-- ui-sref="dialog-single( {dialogId : {{ dialog.id }} })" -->
                <div class="private-message-left pull-left">
                    <div class="private-message-ava pull-left">
                        <div class="avatar middle" style="background-image: url({{dialog.anotherUser.avatar}})"></div>
                    </div>
                    <div class="private-message-author">
                        <div><a ui-sref="profile({ userId : {{ dialog.anotherUser.id }} })" ng-click="$event.stopPropagation()">{{dialog.anotherUser.firstName + " "+ dialog.anotherUser.lastName}}</a></div>
                        <div>{{dialog.createDate*1000 | date:'dd.MM.yy'}}</div>
                    </div>
                </div>
                <div class="private-message-right">
                    <!--<p>{{dialogs.content}}</p>-->
                </div>
            </div>
        </div>
    <!--</div>-->

</section>