
<section class="private-messages page"> <!-- ng-show="base.privateMessagesIsActive" -->
    <a class="btn btn-primary no-border btn-sm pull-right" href="write-message">Написать сообщение</a>
    <form method="post" action="#" class="form-group has-info form-search-private">
<!--
        <span class="block input-icon input-icon-right">
-->
            <input id="search-private-messages" type="text" class="form-control width-70" value="Поиск" onblur="if(this.value=='') this.value='Поиск';" onfocus="if(this.value=='Поиск') this.value='';"/>
            <!--<a href="#" class="icon-search icon-on-right bigger-110"></a>-->
        <!--</span>-->
    </form>
    <!--<div class="private-messages">-->
        <div>
            <div class="private-message-single" ui-sref="dialog-single-{ {{ dialog.id }} }" ng-repeat="dialog in dialogs.dialogsList">
                <div class="private-message-left pull-left">
                    <div class="private-message-ava pull-left">
                        <div class="avatar" style="background-image: url({{dialog.users[0].avatar}})"></div>
                    </div>
                    <div class="private-message-author">
                        <div><a href="#">{{dialog.users[0].firstName + " "+ dialog.users[0].lastName}}</a></div>
                        <div>{{dialog.createDate | date}}</div>
                    </div>
                </div>
                <div class="private-message-right">
                    <!--<p>{{dialogs.content}}</p>-->
                </div>
            </div>
        </div>
    <!--</div>-->

</section>