
<section class="dialog page">
        <div class="clearfix">
            <div class="private-message-single">
                <div class="pull-right">17:00 12 июня 2014</div>
                <div class="private-message-left pull-left">
                    <div class="private-message-ava pull-left"><img src="../../i/avatars/avatar.png" alt="аватарка"/></div>
                    <div class="private-message-author">
                        <div><a href="#">Евгений Плющенко</a></div>
                        <p>Текст сообщения</p>

                    </div>
                </div>

            </div>
            <div class="private-message-single">
                <div class="pull-right">17:00 12 июня 2014</div>
                <div class="private-message-left pull-left">
                    <div class="private-message-ava pull-left"><img src="../../i/avatars/avatar3.png" alt="аватарка"/></div>
                    <div class="private-message-author">
                        <div><a href="#">Евгений Плющенко</a></div>
                        <p>Текст сообщения</p>
                    </div>
                </div>
            </div>
        </div>
    <div class="dialog-send">
        <div class="dialog-send-left pull-left">
            <img src="../../i/avatars/avatar.png" alt="аватар"/>
        </div>
        <div class="dialog-send-right pull-right">
            <img src="../../i/avatars/avatar3.png" alt="аватар"/>
        </div>
        <div class="dialog-send-center">
            <textarea></textarea>
            <a class="btn btn-sm btn-primary no-border" href="#">Отправить</a>
        </div>
    </div>

</section>