
<section class="dialog page" infinite-scroll="dialog.addMoreItems()">
        <div class="clearfix">
            <div class="dialog-send">
                <div class="dialog-send-left pull-left">
                    <div class="avatar short2" style="background-image: url({{base.me.avatar}})"></div>
                </div>
                <div class="dialog-send-right pull-right">
                    <div class="avatar short2" style="background-image: url({{user.avatar}})" ng-repeat="user in dialog.users"></div>
                </div>
                <div class="dialog-send-center">
                    
                    <div ng-include="'templates/createMessage.html'" onload="ctrlMessage=dialog; ctrlId = '000'; initCreateMessage(ctrlId);"></div>

                    <!--<textarea ng-model="dialog.messageText" class="no-resize" ng-keyup="base.messageChange($event,1)"
                              onblur="if(this.value=='') this.value='Написать сообщение';"
                              onfocus="if(this.value=='Написать сообщение') this.value='';"></textarea>

                    <div class="attach-area" id="attach-area-000">
                        <div class="loading hidden">
                            <img ng-src="i/loading2.gif" alt="картинка"/>
                        </div>
                    </div>
                    <div class="attach-area attach-area-doc" id="attach-doc-area-000"></div>

                    <div class="dialog-send-bottom">
                        <div class="btn-group attach-dropdown pull-right">
                            <button data-toggle="dropdown"
                                    class="btn btn-info btn-sm dropdown-toggle no-border">
                                <span class="btn-group-text">Прикрепить</span> <span class="icon-caret-down icon-on-right"></span>
                            </button>

                            <ul class="dropdown-menu dropdown-yellow">

                                <li><input id="attachImage-000" type="file"/></li>

                                <li><input id="attachDoc-000" type="file"/></li>
                            </ul>
                        </div>

                        <a class="btn btn-sm btn-primary no-border" ng-click="dialog.sendMessage()" href="#">Отправить</a>
                    </div>-->
                </div>
            </div>

            <div ng-show="!dialog.privateMessages || dialog.privateMessages.length == 0" class="empty-messages">{{base.emptyMessage}}</div>

            <div class="private-message-single"  ng-repeat="message in dialog.privateMessages">
                <div class="pull-right">
                    <div class="message-tools clearfix" ng-show="message.author == base.me.id">
                        <a href="#" title="Удалить" class="message-delete-link pull-right" ng-click="base.deleteMessage(message,dialog.privateMessages,false,false,true)">&times;</a>
                        <a href="#" title="Редактировать" ng-click="base.setEdit(message)" class="fa fa-pencil pull-right"></a>
                    </div>
                    {{message.created*1000 | date:'HH:mm dd.MM.yy'}}
                </div>
                <div class="private-message-left">
                    <div class="private-message-ava pull-left">
                        <div class="avatar short" style="background-image: url({{message.authorProfile.userInfo.avatar}})"></div>
                    </div>
                    <div class="private-message-author">
                        <div><a ui-sref="profile({ userId : {{ message.authorProfile.userInfo.userId }} })">{{message.authorProfile.userInfo.firstName + " "+ message.authorProfile.userInfo.lastName}}</a></div> <!--  -->

                        <div ng-hide="message.isEdit">
                            <p>{{message.content}}</p>

                            <div class="attached">
                                <a href="{{image.URL}}" class="fancybox" ng-click="$event.preventDefault()" rel="attached-group-dialog-{{message.id}}" ng-repeat="image in message.images">
                                    <img ng-src="{{image.URL}}" alt="картинка"/>
                                </a>
                                <div class="docs">
                                    <div ng-repeat="document in message.documents"><a ng-href="{{document.URL}}" class="doc-item">{{document.fileName}}</a></div>
                                </div>
                            </div>

                        </div>

                        <div class="edit-message" ng-show="message.isEdit">
                            <div ng-include="'templates/editMessage.html'" onload="ctrlMessage=message; ctrlId = dialog.dialogId+'-'+message.id; initCreateMessage(ctrlId,true);"></div>

                            <!--<textarea class="no-resize message-textarea edit-textarea" ng-model="message.content" ng-keyup="base.messageChange($event)"></textarea>
                            <a class="btn btn-sm btn-primary no-border message-edit-save" ng-click="base.saveEditedMessage(message,true,true)" href="#">Сохранить</a>-->
                        </div>

                    </div>
                </div>
            </div>
        </div>


</section>