
        <section class="forum page ng-cloak" ng-show="base.lentaIsActive" infinite-scroll="lenta.addMoreItems()" ng-cloak>
            <div class="message-input clearfix">
                <textarea ng-model="lenta.wallMessageContent" class="no-resize" ng-keyup="base.messageChange($event,1)"
                    onblur="if(this.value=='') this.value='Написать сообщение';"
                    onfocus="if(this.value=='Написать сообщение') this.value='';"></textarea>

                <div class="create-poll" ng-show="lenta.isPollShow">
                    <a class="poll-cancel pull-right" title="отмена опроса" href="#" ng-click="lenta.isPollShow = false;lenta.isPollAvailable = true;">&times;</a>
                    <h5>Тема опроса:</h5>
                    <input type="text" ng-model="lenta.pollSubject"/>
                    <h5>Варианты ответов:</h5>
                    <div ng-repeat="input in lenta.pollInputs">
                        <input ng-model="input.name" type="text"/>
                    </div>
                    <input type="text" class="poll-readonly" readonly value="Добавить ответ" ng-click="base.addPollInput($event,lenta)"/>
                </div>

                <div class="attach-area" id="attach-area-0">
                    <div class="loading hidden">
                        <img ng-src="i/loading2.gif" alt="картинка"/>
                    </div>
                </div>
                <div class="attach-area attach-area-doc" id="attach-doc-area-0"></div>

                <div class="message-input-bottom">

                    <div class="btn-group attach-dropdown pull-right">
                        <button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle no-border" data-producerid="0">
                        <span class="btn-group-text">Прикрепить</span>
                        <span class="icon-caret-down icon-on-right"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-blue">
                        <li><input id="attachImage-0" type="file"/></li>
                        <li><input id="attachDoc-0" type="file"/></li>
                        <li><a href="#" ng-click="base.showPoll($event,lenta)" ng-show="lenta.isPollAvailable">Опрос</a></li>
                        </ul>
                    </div>
                    <a class="btn btn-sm no-border btn-primary pull-left" href="#" ng-click="lenta.createWallMessage($event)">Отправить</a>

                    <div class="hashtag pull-left">
                        <span>группа</span>
                        <div class="btn-group hashtag-dropdown">
                            <button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle no-border">
                                <span class="btn-group-text"># {{base.bufferSelectedGroup.visibleName}}</span>
                                <span class="icon-caret-down icon-on-right"></span>
                            </button>

                            <ul class="dropdown-menu dropdown-blue">
                                <li ng-repeat="group in lenta.groups"><a href="#" ng-click="selectGroupInDropdown_lenta(group.id)"># {{group.visibleName}}</a></li>
                            </ul>
                        </div>
                    </div>

                    <span class="error-info" ng-show="lenta.isCreateMessageError">{{lenta.createMessageErrorText}}</span>

                </div>

            </div>

            <div class="lenta">
                <div class="lenta-item" ng-repeat="wallItem in lenta.wallItems"
                        ng-switch on="wallItem.topic.message.type">

                    <div class="wallitem-message" ng-switch-when="5">

                        <div class="first-message clearfix" >
                            <a ui-sref="profile({userId: {{ wallItem.topic.userInfo.id }} })" class="user">
                                <div class="avatar" style="background-image: url({{wallItem.topic.userInfo.avatar}})"></div>
                                <!--<img alt="аватар" ng-src="{{wallItem.topic.userInfo.avatar}}">-->
                            </a>

                            <div class="body" ng-switch on="wallItem.topic.metaType">

                                <div class="message-tools pull-right" ng-show="wallItem.topic.userInfo.id == base.me.id">
                                    <a href="#" title="Удалить" class="message-delete-link pull-right" ng-click="base.deleteMessage(wallItem.topic,lenta.wallItems,true,true)">&times;</a>
                                    <a href="#" title="Редактировать" ng-click="base.setEdit(wallItem.topic)" class="fa fa-pencil pull-right"></a>
                                </div>

                                <span class="label label-lg arrowed lenta-item-hashtag pull-right"
                                        ng-class="wallItem.tagColor">{{wallItem.label}}</span>

                                <div class="name">
                                    <a ui-sref="profile({userId: {{ wallItem.topic.userInfo.id }} })">{{wallItem.topic.authorName}}</a>
                                </div>

                                <div class="text" ng-switch-when="message" ng-hide="wallItem.topic.isEdit">{{wallItem.topic.message.content}}</div>

                                <div class="edit-message" ng-show="wallItem.topic.isEdit">
                                    <textarea class="no-resize message-textarea edit-textarea" ng-model="wallItem.topic.message.content" ng-keyup="base.messageChange($event)" ng-hasfocus="wallItem.topic.isFocus"></textarea>

                                    <a class="btn btn-sm btn-primary no-border message-edit-save" ng-click="base.saveEditedMessage(wallItem.topic,true)" href="#">Сохранить</a>

                                </div>

                                <div class="attached" ng-show="wallItem.topic.message.images.length || wallItem.topic.message.documents.length">
                                    <a href="{{image.URL}}" class="fancybox" rel="attached-group-{{wallItem.topic.id}}" ng-repeat="image in wallItem.topic.message.images">
                                        <img ng-src="{{image.URL}}" alt="картинка"/>
                                    </a>
                                    <div class="docs">
                                        <div ng-repeat="document in wallItem.topic.message.documents"><a ng-href="{{document.URL}}" target="_blank" class="doc-item">{{document.fileName}}</a></div>
                                    </div>
                                </div>

                                <div class="poll" ng-switch-when="poll" ng-switch on="wallItem.topic.poll.alreadyPoll" >
                                    <div class="text">{{wallItem.topic.message.content}}</div>

                                    <h5>{{wallItem.topic.poll.subject}}</h5>

                                    <!-- -->

                                    <div class="poll-do" ng-switch-when="false">

                                        <div class="radio" ng-repeat="variant in wallItem.topic.poll.editNames">
                                            <label>
                                                <input name="poll-variant-{{wallItem.topic.id}}" ng-model="variant.value" value="1" type="radio" class="ace">
                                                <span class="lbl">{{variant.name}}</span>
                                            </label>
                                        </div>

                                        <button class="btn btn-sm btn-primary no-border" ng-click="base.doPoll($event,wallItem.topic.poll)">Голосовать</button>

                                    </div>
                                    <!-- -->

                                    <div class="poll-results" ng-switch-when="true">

                                        <div class="poll-result-item"  ng-repeat="variant in wallItem.topic.poll.editNames">
                                            <div class="poll-result-variant">{{variant.name}}</div>
                                            <div class="poll-row">
                                                <div class="poll-row-line">
                                                    <div class="poll-line-percent" ng-style="{width: variant.votersPercent}"></div>
                                                    <div class="poll-line-number" style="width: 100%">{{variant.votersNum}}</div>
                                                </div>
                                                <div class="poll-row-percent">{{variant.votersPercent}}</div>
                                            </div>
                                        </div>

                                        <div class="poll-result-amount">Проголосовало <span>{{wallItem.topic.poll.amount}}</span> человек</div>

                                    </div>

                                </div>


                                <div class="lenta-item-bottom">
                                    <a class="pull-right important-status" ng-class="{'important' : wallItem.topic.message.important == 1}" title='{{ wallItem.topic.message.importantText }}' href="#" ng-click="base.markImportant($event,wallItem.topic.message)"><i class="fa fa-star"></i> Важно</a>
                                    <a class="pull-right like-status" ng-class="{'isLike' : wallItem.topic.message.like == 1}" title='Нравится' href="#" ng-click="base.markLike($event,wallItem.topic.message)"><i class="fa fa-heart"></i> Нравится</a>
                                    <div class="like-help" id="like-help-{{wallItem.topic.message.id}}">сообщение уже отмечено</div>

                                    <span >{{wallItem.topic.message.createdEdit}}</span>
                                    <a href="#" ng-click="lenta.showAnswerInput($event,wallItem)">Комментировать</a>
                                </div>

                            </div>
                        </div>

                        <div class="dialogs">
                            <div class="itemdiv dialogdiv" ng-repeat="wallMessage in wallItem.messages">
                                <a ui-sref="profile({userId: {{ wallMessage.userInfo.id }} })" class="user">
                                    <div class="avatar short2" style="background-image: url({{wallMessage.userInfo.avatar}})"></div>
                                    <!--<img alt="аватар" ng-src="{{wallMessage.userInfo.avatar}}">-->
                                </a>

                                <div class="body">
                                    <div class="message-tools pull-right" ng-show="wallMessage.userInfo.id == base.me.id">
                                        <a href="#" title="Удалить" class="message-delete-link pull-right" ng-click="base.deleteMessage(wallMessage,wallItem.messages,false)">&times;</a>
                                        <a href="#" title="Редактировать" ng-click="wallMessage.isEdit = true" class="fa fa-pencil pull-right"></a>
                                    </div>

                                    <div class="name">
                                        <a ui-sref="profile({userId: {{ wallMessage.userInfo.id }} })">{{wallMessage.authorName}}</a>
                                    </div>
                                    <div class="text" ng-hide="wallMessage.isEdit">{{wallMessage.content}}</div>
                                    <div class="edit-message" ng-show="wallMessage.isEdit">
                                        <textarea class="no-resize message-textarea edit-textarea" ng-model="wallMessage.content" ng-keyup="base.messageChange($event)"></textarea>
                                        <a class="btn btn-sm btn-primary no-border edit-save" href="#" ng-click="base.saveEditedMessage(wallMessage,false)">Сохранить</a>
                                    </div>

                                    <div class="attached" ng-show="wallMessage.images.length || wallMessage.documents.length">
                                        <a href="{{image.URL}}" class="fancybox" rel="attached-group-{{wallItem.topic.id+'-'+wallMessage.id}}" ng-repeat="image in wallMessage.images">
                                            <img ng-src="{{image.URL}}" alt="картинка"/>
                                        </a>
                                        <div class="docs">
                                            <div ng-repeat="document in wallMessage.documents"><a ng-href="{{document.URL}}" target="_blank" class="doc-item">{{document.fileName}}</a></div>
                                        </div>
                                    </div>

                                    <div class="lenta-item-bottom">
                                        <span >{{wallMessage.createdEdit}}</span>
                                        <a href="#" ng-click="lenta.showAnswerInput($event,wallItem,wallMessage)">Ответить</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-group">
                            <textarea name="answerInput{{wallItem.topic.id}}" id="name{{wallItem.topic.id}}" class="message-textarea no-resize" ng-model="wallItem.commentText"
                                      ng-hasfocus="wallItem.isFocus" ng-show="wallItem.answerShow" ng-keyup="base.messageChange($event,1)"
                                onblur="if(this.value=='') this.value='Ваш ответ';"
                                onfocus="if(this.value=='Ваш ответ') this.value='';" ></textarea>

                                <div id="attach-area-{{wallItem.topic.id}}" class="attach-area">
                                    <div class="loading hidden">
                                        <img ng-src="i/loading2.gif" alt="картинка"/>
                                    </div>
                                </div>
                                <div id="attach-doc-area-{{wallItem.topic.id}}" class="attach-area attach-area-doc"></div>

                                <span class="input-group-btn" ng-show="wallItem.answerShow">
                                    <button class="btn btn-sm btn-info no-radius no-border" type="button" ng-click="lenta.createWallComment($event,wallItem)">
                                        <i class="icon-share-alt"></i>
                                        Отправить
                                    </button>
                                    <span class="error-info" ng-show="wallItem.isCreateCommentError" ng-click>{{wallItem.createCommentErrorText}}</span>

                                    <div class="btn-group attach-dropdown pull-right">
                                        <button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle no-border" data-producerid="0">
                                            <span class="btn-group-text">Прикрепить</span>
                                            <span class="icon-caret-down icon-on-right"></span>
                                        </button>

                                        <ul class="dropdown-menu dropdown-blue">
                                            <li><input id="attachImage-{{wallItem.topic.id}}" type="file"/></li>
                                            <li><input id="attachDoc-{{wallItem.topic.id}}" type="file"/></li>
                                        </ul>
                                    </div>
                                </span>
                        </div>
                    </div>


                    <div class="wallitem-topic" ng-switch-when="1">
                        <div class="talks-title">
                            <div class="talks-title-left load-talk">
                                <a ui-sref="talks-single({ talkId : {{wallItem.topic.id}} })">{{wallItem.topic.subject}}</a>
                                <div>{{wallItem.topic.messageNum}} сообщений</div>
                            </div>
                            <div class="talks-title-right">
                                <span class="label label-lg arrowed lenta-item-hashtag pull-right"
                                      ng-class="wallItem.tagColor">{{wallItem.label}}</span>
                                <a class="fa fa-star pull-right" ng-class="{'important' : wallItem.topic.message.important == 1}" title='{{ wallItem.topic.message.importantText }}' href="#" ng-click="base.markImportant($event,wallItem.topic.message)"></a>
                                <a class="fa fa-heart pull-right" ng-class="{'isLike' : wallItem.topic.message.like == 1}" title='Нравится' href="#" ng-click="base.markLike($event,wallItem.topic.message)"></a>

                                <div class="clearfix"></div>

                                <div>Последнее обновление: {{wallItem.topic.lastUpdateEdit}}</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </section>






