
<section class="private-messages page"> <!-- ng-show="base.privateMessagesIsActive" -->
    <div class="private-messages">
        <h2>Личные сообщения</h2>
        <div>
            <div class="private-message-single">
                <div class="private-message-left pull-left">
                    <div class="private-message-ava pull-left"><img src="../../i/avatars/avatar.png" alt="аватарка"/></div>
                    <div class="private-message-author">
                        <div><a href="#">Евгений Плющенко</a></div>
                        <div>17:00 12 июня 2014</div>
                    </div>
                </div>
                <div class="private-message-right">
                    <p>Текст сообщения</p>
                </div>
            </div>
            <div class="private-message-single">
                <div class="private-message-left pull-left">
                    <div class="private-message-ava pull-left"><img src="../../i/avatars/avatar.png" alt="аватарка"/></div>
                    <div class="private-message-author">
                        <div><a href="#">Евгений Плющенко</a></div>
                        <div>17:00 12 июня 2014</div>
                    </div>
                </div>
                <div class="private-message-right">
                    <p>Текст сообщения</p>
                </div>
            </div>
        </div>
    </div>

</section>