<section class="profile page"> <!--  ng-show="base.profileIsActive" -->
    <div class="profile">
        <section class="user-descr">
            <div class="text-area">
                <div class="user-head" >
                    <h1>{{ profile.userProfile.userInfo.firstName +" "+profile.userProfile.userInfo.lastName}}</h1>
                    <a class="edit-personal-link" ui-sref="settings" ng-show="profile.isMayEdit">Редактировать</a>
                </div>
                <div class="user-body">
                    <div class="user-body-left pull-left">
                        <label class="block clearfix logo-container">
                            <img ng-src="{{profile.userProfile.userInfo.avatar}}" alt=""/>
                            <a ui-sref="profile.change-avatar" class="change-avatar-link">Изменить аватар</a>
                            <!--<input type="file" id="profile-ava" ng-show="profile.isMayEdit">-->
                        </label>

                    </div>
                    
                    <div class="user-body-right">
                        <div class="profile-item" ng-show="">
                            <div ng-show="profile.userProfile.userInfo.birthday != null"><span>День рождения:</span>{{profile.userProfile.userInfo.birthday}}</div>
                            <div ng-show="profile.userProfile.userInfo.gender != null"><span>Пол:</span>{{profile.userProfile.userInfo.gender}}</div>
                        </div>

                        <div class="profile-item" ng-show="profile.userContacts != null">
                            <h3>Контактная информация</h3>
                            <div ng-show="profile.userContacts.mobilePhone != null"><span>Телефон:</span> {{ profile.userContacts.mobilePhone }}</div>
                            <div><span>Email:</span> {{ profile.userContacts.email }}</div>
                        </div>

                        <div class="profile-item" ng-show="profile.userProfile.family.relations != null && profile.userProfile.family.childs != null
                        && profile.userProfile.family.pets != null">
                            <h3>Семья</h3>
                            <div ng-show="profile.userProfile.family.relations != null"><span>Семейное положение:</span>{{profile.userProfile.family.relations}}</div>
                            <div ng-show="profile.userProfile.family.childs != null"><span>Ребенок:</span> {{profile.userProfile.family.childs}}</div>
                            <div ng-show="profile.userProfile.family.pets != null"><span>Питомец:</span> {{profile.userProfile.family.pets}}</div>
                        </div>

                        <div class="profile-item" ng-show="profile.userProfile.interests != null">
                            <h3>Интересы</h3>
                            <p>{{profile.userProfile.interests.userInterests}}</p>
                        </div>

                        <div class="profile-item last" ng-show="profile.userContacts.homeAddress != null">
                            <h3>Домашний адрес</h3>
                            <div>{{profile.userContacts.homeAddress.street.name + " "+ profile.userContacts.homeAddress.building.fullNo}}</div>
                        </div>

                        <div class="home-map">
                            <!--<img src="./i/map_home.jpg" alt="карта"/>-->
                            <img ng-src="{{ profile.map }}" alt="карта"/>
                        </div>

                        <!--<div style="margin-bottom:10px;">
                            <h4>Панель предварительного просмотра:</h4>
                            <div style="overflow: hidden; width: 200px; height: 200px;">
                                <img id="preview" src="../i/avatars/clint.jpg"/>
                            </div>
                        </div>

                        <img src="../i/avatars/clint.jpg" alt="#" id="test"/>-->
                    </div>
                </div>
            </div>
        </section>
        <div ui-view></div>
    </div>
</section>

