
<section class="set-info page" ng-class="base.mapsLoadStatus">

<div>

    <p>Укажите инфу</p>

    <label>
        <span>Подъезд</span>
        <input type="text"/>
    </label>
    <label>
        <span>Этаж</span>
        <input type="text"/>
    </label>
    <label>
        <span>Квартира</span>
        <input type="text"/>
    </label>

    <p>Указывайте верную инфу</p>

    <button class="btn btn-sm no-border btn-primary set-info-save" ng-click="save()">Сохранить</button>

</div>

</section>

