
        <section class="forum page ng-cloak" ng-show="base.lentaIsActive" ng-cloak>

            <div class="lenta">
                <div class="lenta-item">

                    <div class="wallitem-message">

                        <div class="first-message clearfix" >
                            <a ui-sref="profile({userId: {{ wallItem.topic.userInfo.id }} })" class="user">
                                <div class="avatar" style="background-image: url({{wallItem.topic.userInfo.avatar}})"></div>
                                <!--<img alt="аватар" ng-src="{{wallItem.topic.userInfo.avatar}}">-->
                            </a>

                            <div class="body" ng-switch on="wallItem.topic.metaType">
                                <span class="label label-lg arrowed lenta-item-hashtag pull-right"
                                        ng-class="wallItem.tagColor">{{wallItem.label}}</span>
                                <a class="fa fa-star pull-right" ng-class="{'important' : wallItem.topic.message.important == 3}" href="#" ng-click="base.markImportant($event,wallItem.topic.message)"></a>

                                <div class="name">
                                    <a ui-sref="profile({userId: {{ wallItem.topic.userInfo.id }} })">{{wallItem.topic.authorName}}</a>
                                </div>

                                <div class="text" ng-switch-when="message" >{{wallItem.topic.message.content}}</div>

                                <div class="attached" ng-show="wallItem.topic.message.images.length || wallItem.topic.message.documents.length">
                                    <a href="{{image.URL}}" class="fancybox" rel="attached-group-{{wallItem.topic.id}}" ng-repeat="image in wallItem.topic.message.images">
                                        <img ng-src="{{image.URL}}" alt="картинка"/>
                                    </a>
                                    <div class="docs">
                                        <div ng-repeat="document in wallItem.topic.message.documents"><a ng-href="{{document.URL}}" class="doc-item">{{document.fileName}}</a></div>
                                    </div>
                                </div>

                                <div class="poll" ng-switch-when="poll" ng-switch on="wallItem.topic.poll.alreadyPoll" >
                                    <div class="text" >{{wallItem.topic.message.content}}</div>

                                    <h5>{{wallItem.topic.poll.subject}}</h5>

                                    <!-- -->

                                    <div class="poll-do" ng-switch-when="false">

                                        <div class="radio" ng-repeat="variant in wallItem.topic.poll.editNames">
                                            <label>
                                                <input name="poll-variant-{{wallItem.topic.id}}" ng-model="variant.value" value="1" type="radio" class="ace">
                                                <span class="lbl">{{variant.name}}</span>
                                            </label>
                                        </div>

                                        <button class="btn btn-sm btn-primary no-border" ng-click="base.doPoll($event,wallItem.topic.poll)">Голосовать</button>

                                    </div>
                                    <!-- -->

                                    <div class="poll-results" ng-switch-when="true">

                                        <div class="poll-result-item"  ng-repeat="variant in wallItem.topic.poll.editNames">
                                            <div class="poll-result-variant">{{variant.name}}</div>
                                            <div class="poll-row">
                                                <div class="poll-row-line">
                                                    <div class="poll-line-percent" ng-style="{width: variant.votersPercent}"></div>
                                                    <div class="poll-line-number" style="width: 100%">{{variant.votersNum}}</div>
                                                </div>
                                                <div class="poll-row-percent">{{variant.votersPercent}}</div>
                                            </div>
                                        </div>

                                        <div class="poll-result-amount">Проголосовало <span>{{wallItem.topic.poll.amount}}</span> человек</div>

                                    </div>

                                </div>

                                <div class="lenta-item-bottom">
                                    <span >{{wallItem.topic.message.createdEdit}}</span>
                                    <a href="#" ng-click="lenta.showAnswerInput($event,wallItem)">Комментировать</a>
                                </div>

                            </div>
                        </div>

                        <div class="dialogs">
                            <div class="itemdiv dialogdiv" ng-repeat="wallMessage in wallItem.messages">
                                <a ui-sref="profile({userId: {{ wallMessage.userInfo.id }} })" class="user">
                                    <div class="avatar short2" style="background-image: url({{wallMessage.userInfo.avatar}})"></div>
                                    <!--<img alt="аватар" ng-src="{{wallMessage.userInfo.avatar}}">-->
                                </a>

                                <div class="body">

                                    <div class="name">
                                        <a ui-sref="profile({userId: {{ wallMessage.userInfo.id }} })">{{wallMessage.authorName}}</a>
                                    </div>
                                    <div class="text" >{{wallMessage.content}}</div>

                                    <div class="attached" ng-show="wallMessage.images.length || wallMessage.documents.length">
                                        <a href="{{image.URL}}" class="fancybox" rel="attached-group-{{wallItem.topic.id+'-'+wallMessage.id}}" ng-repeat="image in wallMessage.images">
                                            <img ng-src="{{image.URL}}" alt="картинка"/>
                                        </a>
                                        <div class="docs">
                                            <div ng-repeat="document in wallMessage.documents"><a ng-href="{{document.URL}}" class="doc-item">{{document.fileName}}</a></div>
                                        </div>
                                    </div>

                                    <div class="lenta-item-bottom">
                                        <span >{{wallMessage.createdEdit}}</span>
                                        <a href="#" ng-click="lenta.showAnswerInput($event,wallItem,wallMessage)">Ответить</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-group">
                            <textarea name="answerInput{{wallItem.topic.id}}" id="name{{wallItem.topic.id}}" class="message-textarea no-resize" ng-model="wallItem.commentText"
                                      ng-hasfocus="wallItem.isFocus" ng-show="wallItem.answerShow" ng-keyup="base.messageChange($event,1)"
                                onblur="if(this.value=='') this.value='Ваш ответ';"
                                onfocus="if(this.value=='Ваш ответ') this.value='';" ></textarea>

                                <div id="attach-area-{{wallItem.topic.id}}" class="attach-area"></div>
                                <div id="attach-doc-area-{{wallItem.topic.id}}" class="attach-area attach-area-doc"></div>

                                <span class="input-group-btn" ng-show="wallItem.answerShow">
                                    <button class="btn btn-sm btn-info no-radius no-border" type="button" ng-click="lenta.createWallComment($event,wallItem)">
                                        <i class="icon-share-alt"></i>
                                        Отправить
                                    </button>
                                    <span class="error-info" ng-show="wallItem.isCreateCommentError" ng-click>{{wallItem.createCommentErrorText}}</span>

                                    <div class="btn-group attach-dropdown pull-right">
                                        <button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle no-border" data-producerid="0">
                                            <span class="btn-group-text">Прикрепить</span>
                                            <span class="icon-caret-down icon-on-right"></span>
                                        </button>

                                        <ul class="dropdown-menu dropdown-blue">
                                            <li><input id="attachImage-{{wallItem.topic.id}}" type="file"/></li>
                                            <li><input id="attachDoc-{{wallItem.topic.id}}" type="file"/></li>
                                        </ul>
                                    </div>
                                </span>
                        </div>
                    </div>

                </div>

            </div>

        </section>






