
        <section class="forum page wall-single ng-cloak">

            <div class="lenta">
                <div class="lenta-item">

                    <div class="wallitem-message wall-single">

                        <div class="first-message clearfix" >
                            <a ui-sref="profile({userId: {{ wallSingle.wallItem.topic.userInfo.id }} })" class="user">
                                <div class="avatar" style="background-image: url({{wallSingle.wallItem.topic.userInfo.avatar}})"></div>
                            </a>

                            <div class="body" ng-switch on="wallSingle.wallItem.topic.metaType">
                                <div class="message-tools pull-right" ng-show="wallSingle.wallItem.topic.userInfo.id == base.me.id">
                                    <a href="#" title="Удалить" class="message-delete-link pull-right" ng-click="base.deleteMessage(wallSingle.wallItem.topic,wallSingle.wallItems,true,true)">&times;</a>
                                    <a href="#" title="Редактировать" ng-click="base.setEdit(wallSingle.wallItem.topic)" class="fa fa-pencil pull-right"></a>
                                </div>

                                <span class="label label-lg arrowed lenta-item-hashtag pull-right"
                                        ng-class="wallSingle.wallItem.tagColor">{{wallSingle.wallItem.label}}</span>

                                <div class="name">
                                    <a ui-sref="profile({userId: {{ wallSingle.wallItem.topic.userInfo.id }} })">{{wallSingle.wallItem.topic.userInfo.firstName+" "+wallSingle.wallItem.topic.userInfo.lastName}}</a>
                                </div>

                                <div class="text" ng-switch-when="message" ng-hide="wallSingle.wallItem.topic.isEdit">{{wallSingle.wallItem.topic.message.content}}</div>

                                <div class="edit-message" ng-show="wallSingle.wallItem.topic.isEdit">
                                    <textarea class="no-resize message-textarea edit-textarea" ng-model="wallSingle.wallItem.topic.message.content" ng-keyup="base.messageChange($event)" ng-hasfocus="wallSingle.wallItem.topic.isFocus"></textarea>

                                    <a class="btn btn-sm btn-primary no-border message-edit-save" ng-click="base.saveEditedMessage(wallSingle.wallItem.topic,true)" href="#">Сохранить</a>

                                </div>

                                <div class="attached" ng-show="wallSingle.wallItem.topic.message.images.length || wallSingle.wallItem.topic.message.documents.length">
                                    <a href="{{image.URL}}" class="fancybox" rel="attached-group-{{wallSingle.wallItem.topic.id}}" ng-repeat="image in wallSingle.wallItem.topic.message.images">
                                        <img ng-src="{{image.URL}}" alt="картинка"/>
                                    </a>
                                    <div class="docs">
                                        <div ng-repeat="document in wallSingle.wallItem.topic.message.documents"><a ng-href="{{document.URL}}" target="_blank" class="doc-item">{{document.fileName}}</a></div>
                                    </div>
                                </div>

                                <div class="poll" ng-switch-when="poll" ng-switch on="wallSingle.wallItem.topic.poll.alreadyPoll" >
                                    <div class="text" >{{wallSingle.wallItem.topic.message.content}}</div>

                                    <h5>{{wallSingle.wallItem.topic.poll.subject}}</h5>


                                    <div class="poll-do" ng-switch-when="false">

                                        <div class="radio" ng-repeat="variant in wallSingle.wallItem.topic.poll.editNames">
                                            <label>
                                                <input name="poll-variant-{{wallSingle.wallItem.topic.id}}" ng-model="variant.value" value="1" type="radio" class="ace">
                                                <span class="lbl">{{variant.name}}</span>
                                            </label>
                                        </div>

                                        <button class="btn btn-sm btn-primary no-border" ng-click="base.doPoll($event,wallSingle.wallItem.topic.poll)">Голосовать</button>

                                    </div>

                                    <div class="poll-results" ng-switch-when="true">

                                        <div class="poll-result-item"  ng-repeat="variant in wallSingle.wallItem.topic.poll.editNames">
                                            <div class="poll-result-variant">{{variant.name}}</div>
                                            <div class="poll-row">
                                                <div class="poll-row-line">
                                                    <div class="poll-line-percent" ng-style="{width: variant.votersPercent}"></div>
                                                    <div class="poll-line-number" style="width: 100%">{{variant.votersNum}}</div>
                                                </div>
                                                <div class="poll-row-percent">{{variant.votersPercent}}</div>
                                            </div>
                                        </div>

                                        <div class="poll-result-amount">Проголосовало <span>{{wallSingle.wallItem.topic.poll.amount}}</span> человек</div>

                                    </div>

                                </div>

                                <div class="lenta-item-bottom">
                                    <a class="pull-right important-status" ng-class="{'important' : wallSingle.wallItem.topic.message.important == 1}" title='{{ wallSingle.wallItem.topic.message.importantText }}' href="#" ng-click="base.markImportant($event,wallSingle.wallItem.topic.message)"><i class="fa fa-star"></i> Важно</a>
                                    <a class="pull-right like-status" ng-class="{'isLike' : wallSingle.wallItem.topic.message.like == 1}" title='Нравится' href="#" ng-click="base.markLike($event,wallSingle.wallItem.topic.message)"><i class="fa fa-heart"></i> Нравится</a>
                                    <div class="like-help" id="like-help-{{wallSingle.wallItem.topic.message.id}}">сообщение уже отмечено</div>

                                    <span >{{wallSingle.wallItem.topic.message.createdEdit}}</span>
                                    <a href="#" ng-click="wallSingle.showAnswerInput($event,wallSingle.wallItem)">Комментировать</a>
                                </div>

                            </div>
                        </div>

                        <div class="dialogs">
                            <div class="itemdiv dialogdiv" ng-repeat="wallMessage in wallSingle.wallItem.messages">
                                <a ui-sref="profile({userId: {{ wallMessage.userInfo.id }} })" class="user">
                                    <div class="avatar short2" style="background-image: url({{wallMessage.userInfo.avatar}})"></div>
                                </a>

                                <div class="body">

                                    <div class="name">
                                        <a ui-sref="profile({userId: {{ wallMessage.userInfo.id }} })">{{wallMessage.userInfo.firstName+" "+wallMessage.userInfo.lastName}}</a>
                                    </div>
                                    <div class="text" >{{wallMessage.content}}</div>

                                    <div class="attached" ng-show="wallMessage.images.length || wallMessage.documents.length">
                                        <a href="{{image.URL}}" class="fancybox" rel="attached-group-{{wallSingle.wallItem.topic.id+'-'+wallMessage.id}}" ng-repeat="image in wallMessage.images">
                                            <img ng-src="{{image.URL}}" alt="картинка"/>
                                        </a>
                                        <div class="docs">
                                            <div ng-repeat="document in wallMessage.documents"><a ng-href="{{document.URL}}" target="_blank" class="doc-item">{{document.fileName}}</a></div>
                                        </div>
                                    </div>

                                    <div class="lenta-item-bottom">
                                        <span >{{wallMessage.createdEdit}}</span>
                                        <a href="#" ng-click="wallSingle.showAnswerInput($event,wallSingle.wallItem,wallMessage)">Ответить</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-group">
                            <textarea name="answerInput{{wallSingle.wallItem.topic.id}}" id="name{{wallSingle.wallItem.topic.id}}" class="message-textarea no-resize" ng-model="wallSingle.wallItem.commentText"
                                      ng-hasfocus="wallSingle.wallItem.isFocus" ng-show="wallSingle.wallItem.answerShow" ng-keyup="base.messageChange($event,1)"
                                onblur="if(this.value=='') this.value='Ваш ответ';"
                                onfocus="if(this.value=='Ваш ответ') this.value='';" ></textarea>

                                <div id="attach-area-{{wallSingle.wallItem.topic.id}}" class="attach-area">
                                    <div class="loading hidden">
                                        <img ng-src="i/loading2.gif" alt="картинка"/>
                                    </div>
                                </div>
                                <div id="attach-doc-area-{{wallSingle.wallItem.topic.id}}" class="attach-area attach-area-doc"></div>

                                <span class="input-group-btn" ng-show="wallSingle.wallItem.answerShow">
                                    <button class="btn btn-sm btn-info no-radius no-border" type="button" ng-click="wallSingle.createWallComment($event,wallSingle.wallItem)">
                                        <i class="icon-share-alt"></i>
                                        Отправить
                                    </button>
                                    <span class="error-info" ng-show="wallSingle.wallItem.isCreateCommentError" ng-click>{{wallSingle.wallItem.createCommentErrorText}}</span>

                                    <div class="btn-group attach-dropdown pull-right">
                                        <button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle no-border" data-producerid="0">
                                            <span class="btn-group-text">Прикрепить</span>
                                            <span class="icon-caret-down icon-on-right"></span>
                                        </button>

                                        <ul class="dropdown-menu dropdown-blue">
                                            <li><input id="attachImage-{{wallSingle.wallItem.topic.id}}" type="file"/></li>
                                            <li><input id="attachDoc-{{wallSingle.wallItem.topic.id}}" type="file"/></li>
                                        </ul>
                                    </div>
                                </span>
                        </div>
                    </div>

                </div>

            </div>

        </section>






