
<section class="write-message page">

    <input type="text" placeholder="Кому" class="width-100 write-message-to" autocomplete="off" />

    <textarea class="width-100 message-textarea no-resize" value="Сообщение"
              onblur="if(this.value=='') this.value='Сообщение';"
              onfocus="if(this.value=='Сообщение') this.value='';" >Сообщение</textarea>

    <div id="attach-area-writeMessage" class="attach-area"></div>

    <span class="input-group-btn write-message-bottom">
        <button class="btn btn-sm btn-info no-radius no-border" type="button" ng-click="writeMessage.send()" ui-sref="dialog-single-{ {{ writeMessage.dialogId }} }">
            <i class="icon-share-alt"></i>
            Отправить
        </button>

        <div class="btn-group attach-dropdown pull-right">
            <button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle no-border" data-producerid="0">
                <span class="btn-group-text">Прикрепить</span>
                <span class="icon-caret-down icon-on-right"></span>
            </button>

            <ul class="dropdown-menu dropdown-blue">
                <li><a href="#">Документ</a></li>
                <li><input id="attachImage-writeMessage" type="file"/></li>
            </ul>
        </div>
    </span>

</section>