.settings,
.edit-personal {
  padding: 0 10px;
}
.settings .tabbable,
.edit-personal .tabbable {
  z-index: 5;
}
.settings h3,
.edit-personal h3 {
  margin-top: 10px;
}
.settings .tab-content,
.edit-personal .tab-content {
  margin-bottom: 10px;
}
.settings .tab-pane label,
.edit-personal .tab-pane label {
  display: inline-block;
  width: 160px;
}
.settings .tab-pane .form-control,
.edit-personal .tab-pane .form-control {
  display: inline-block;
  width: 233px;
  margin: 0 0 10px 0;
}
.settings .tab-pane .subs-group,
.edit-personal .tab-pane .subs-group {
  display: inline-block;
  border-left: 1px solid #2b7dbc;
  padding-left: 15px;
}
.settings .tab-pane .checkbox label,
.edit-personal .tab-pane .checkbox label {
  width: auto;
}
.settings input[type="text"],
.edit-personal input[type="text"],
.settings input[type="email"],
.edit-personal input[type="email"],
.settings textarea,
.edit-personal textarea {
  margin-bottom: 10px;
  width: 233px;
}
.create-topic-wrap,
.edit-personal-wrap,
.settings-wrap,
.user-descr-wrap {
  display: none;
}
#subscription>label {
  text-align: right;
  width: auto;
  padding-right: 10px;
  vertical-align: top;
}
