@import 'lib/bootstrap.min.css';
@import 'lib/font-awesome-original.css';
@import 'lib/font-awesome.min.css';
@import 'lib/ace-fonts.css';
@import 'lib/ace.css';
@import 'profile.css';
@import 'settings.css';
.error-info,
.confirm-info {
  display: none;
  color: #f00;
}
.login-error {
  text-align: center;
  clear: right;
}
.info-good {
  color: #62c462;
}
