@import 'common.css';
/* страница регистрации */
.login-layout .main-content {
  border: 0;
  margin-right: 0;
}
.login-container .widget-box {
  visibility: hidden;
  display: none;
}
.login-container .widget-box.visible {
  visibility: visible;
  display: block;
}
.login-box,
.signup-box,
.forgot-box {
  padding: 6px;
  background-color: #394557;
}
.login-box .widget-body,
.signup-box .widget-body,
.forgot-box .widget-body {
  background: #f7f7f7;
}
.login-box .widget-body .widget-main,
.signup-box .widget-body .widget-main,
.forgot-box .widget-body .widget-main {
  padding: 16px 36px 16px 36px;
}
.login-box fieldset,
.signup-box fieldset,
.forgot-box fieldset {
  text-align: center;
}
.login-box .btn-primary,
.signup-box .btn-primary,
.forgot-box .btn-primary,
.login-box .btn-success,
.signup-box .btn-success,
.forgot-box .btn-success,
.login-box .btn-danger,
.signup-box .btn-danger,
.forgot-box .btn-danger {
  float: none !important;
  font-size: 16px;
}
.email-forgot-error,
.password-new-error {
  margin-bottom: 10px;
}
.login-page .container {
  min-width: 0;
}
.login-forms {
  width: 650px;
  margin: 30px auto;
}
.registration-form {
  width: 320px;
  height: 260px;
  vertical-align: top;
  display: inline-block;
  padding: 0 10px;
  position: relative;
  border: 1px solid #438eb9;
  border-radius: main-radius;
}
.registration-form h1 {
  margin: 0 -10px;
  padding: 10px;
  background: #438eb9;
  color: #fff;
  text-align: center;
}
.registration-form h3 {
  border-bottom: 1px solid #438eb9;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.registration-form .reg-soc a {
  font-size: 50px;
  margin: 0 10px;
}
.registration-form .reg-soc a:hover {
  text-decoration: none;
}
.registration-form .reg-now>div {
  margin-bottom: 10px;
}
.registration-form .reg-now a {
  float: right;
  margin-right: 15px;
  padding-top: 3px;
  color: #ccc;
}
.registration-form .reg-now label {
  width: 60px;
}
.registration-form .reg-now label span {
  color: #d2322d;
}
.registration-form .reg-now label span:before {
  margin-right: 5px !important;
}
.registration-form .reg-now .radio {
  display: inline-block;
  vertical-align: baseline;
  margin: 0;
}
.registration-form .reg-now .radio span {
  color: #000;
}
.registration-form .reg-now .form-control {
  display: inline-block;
}
.registration-form .btn-submit {
  width: 140px;
  background: #438eb9;
  color: #fff;
  font-size: 20px;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -70px;
}
.registration-form .btn-submit:hover {
  background: #1b6aaa;
}
.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="tel"],
.registration-form input[type="password"] {
  width: 220px;
}
.registration-form #captcha {
  width: 155px;
}
.registration-form input[type="file"],
.registration-form .captcha {
  display: inline-block;
}
.registration-form .set-new-password {
  display: none;
  clear: right;
  margin-top: 4px;
}
.registration-form .set-new-password .btn {
  margin-top: 10px;
  float: right;
  margin-right: 14px;
}
.registration-form .set-new-password #go2 {
  position: static;
  width: 100px;
  float: right;
}
#selectGroup {
  margin-right: 15px;
  float: right;
}
@media all and (max-width: 650px) {
  .modal-auth {
    width: 100% !important;
    left: 0 !important;
    margin-left: 0 !important;
    height: 320px !important;
  }
  .modal-auth .container {
    width: 90%;
  }
  .login-forms {
    width: 100%;
  }
  .registration-form {
    width: 49%;
    height: 290px !important;
  }
  .registration-form h1 {
    font-size: 20px;
    padding: 8px;
  }
  .registration-form input {
    width: 98% !important;
  }
  .registration-form .set-new-password .btn {
    padding: 2px 0;
    font-size: 12px;
    margin-right: 0;
    float: none;
    display: inline-block;
    width: 48%;
  }
  .registration-form label {
    font-size: 12px;
    width: auto !important;
  }
}
@media all and (max-width: 380px) {
  .registration-form h1 {
    font-size: 14px;
  }
  .registration-form .btn-submit {
    width: 100px;
    margin-left: -50px;
    font-size: 14px;
  }
}
.signup-shop .login-container {
  width: 480px;
}
.signup-shop textarea {
  width: 100%;
  height: 70px;
}
.signup-shop .file-label {
  text-align: left;
}
.signup-shop .file-label .file-name {
  padding-left: 5px;
}
.signup-shop .fa {
  position: absolute;
  font-size: 16px;
  top: 8px;
  right: 5px;
}
.signup-shop .fa.fa-image {
  position: static;
}
.signup-shop .ace-file-input {
  height: auto;
}
.signup-shop .ace-file-input .file-label {
  text-align: center;
  margin-top: -37px;
}
.login-forum {
  background: url("../i/login-bg.jpg") top center;
  background-size: 100% 100%;
  padding-top: 100px;
}
.login-forum .login-left {
  text-align: center;
  color: #fff;
  padding-top: 20px;
}
.login-forum .login-left h1 {
  font-size: 28px;
}
.login-forum .login-left img {
  width: 100%;
  max-width: 400px;
}
.login-forum .login-container {
  width: 100%;
  max-width: 375px;
}
.login-forum .login-container .btn {
  border: 2px solid #fff;
  background-color: transparent !important;
}
.login-forum .login-container input {
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
}
.login-forum .login-container input::-webkit-input-placeholder {
  color: #fff;
}
.login-forum .login-container input:-moz-placeholder {
  color: #fff;
}
.login-forum .login-container i {
  color: #fff;
}
.login-forum .login-container .or {
  text-align: center;
  color: #fff;
  margin: 5px 0;
  font-size: 20px;
}
.login-forum .login-container .tools {
  margin-bottom: 15px;
}
.login-forum .login-container .tools .checkbox {
  display: inline-block;
  padding-left: 0;
  color: #fff;
  margin: 0;
  line-height: 16px;
}
.login-forum .login-container .tools a {
  color: #fff;
  font-size: 14px;
  margin-left: 10px;
  vertical-align: middle;
  display: inline-block;
}
.login-forum .login-container .tools a:hover {
  text-decoration: none;
}
.login-forum .login-container .widget-box {
  padding: 0;
  background: transparent;
  position: static;
}
.login-forum .login-container .widget-box .widget-body {
  background: transparent;
}
.login-forum .login-container .widget-box .widget-main {
  background: transparent;
}
.help-text {
  font-size: 12px;
  color: #fff;
  text-align: center;
}
.help-text img {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
}
