
.settings
.edit-personal
  padding 0 10px
  .tabbable
    z-index 5
  h3
    margin-top 10px
  .tab-content
    margin-bottom 10px
  .tab-pane
    label
      display inline-block
      width 160px
    .form-control
      display inline-block
      width 233px
      margin 0 0 10px 0
    .subs-group
      display inline-block
      border-left 1px solid #2b7dbc
      padding-left 15px
    .checkbox label
      width auto
  input[type="text"]
  textarea
    margin-bottom 10px
    width 233px

.create-topic-wrap
.edit-personal-wrap
.settings-wrap
.user-descr-wrap
  display none

#subscription>label
  text-align right
  width auto
  padding-right 10px
  vertical-align top





