//@import 'common.css'
@import 'lib/flexslider.css'
@import 'login.css' // with common.css

main-radius = 2px
second-radius = 1px

html
   height 100%

body
  background #fff
  height 100%

a
  outline none !important

.clear
  clear:both

transform()
  -moz-transform rotate(arguments); /* Для Firefox */
  -ms-transform rotate(arguments); /* Для IE */
  -webkit-transform rotate(arguments); /* Для Safari, Chrome, iOS */
  -o-transform rotate(arguments); /* Для Opera */
  transform rotate(arguments);

.btn-primary
.header-color-blue2
  background-color #438eb9 !important

.container
  padding 0
  max-width 1240px
  min-height 100%

.navbar
  a.navbar-brand
    padding 0
  img
    height 45px

.ace-nav>li
    a
      padding 11px 12px 0 12px
      line-height 1.428571429
      font-size 16px
      border none
      border-bottom 3px solid rgb(111, 179, 224)
    &.active
      a
        border-bottom-color #2b7dbc

.ace-nav>.user-short a
  border none
  padding 3px 8px
  font-size 14px

.ace-nav>.user-short>a
  line-height inherit
  padding 0 8px
  font-size 16px

/*.user-short .no-login+.user-menu
  display none*/

.user-menu li
  text-align left

.nav-list > li > a
  padding 8px 10px 10px 16px
  height auto
  line-height 20px
  position relative
  span
    display inline-block
    vertical-align middle
    width 134px
  b
    display inline-block
    vertical-align middle

.nav-list > li > a,
.nav-list > li.active > a,
.nav-list > li.active:hover a
  font-size 15px

.btn
  border-radius main-radius !important

.sidebar
  padding-top 20px
  vertical-align top

.shop
  border-left 1px solid #ccc

.main-content
  margin-right 380px
  margin-left 0
  padding 10px

.shop-right
  float right
  width 380px
  //width 30%
  border 0
  border-left 1px solid #ccc
  padding-bottom 20px
  right 0
  &:before
    border 0
    border-left 1px solid #ccc
  .show-right
    display none
  .hide-right
    display none
  .sidebar-title
    font-size 20px
    border-top 1px solid #ccc
    padding 4px 0 7px 0
    background #f9f9f9
    text-align center
    color #2b7dbc
    .go-to-orders
      display inline-block
      vertical-align middle
      margin-right 10px
  nav
    display inline-block
    vertical-align middle
    width 70%
    .input-group
    a
      display block
  .catalog-order
    max-height 320px
    overflow-y auto
    margin-left 0
    border-top 1px solid #ccc
    li
      padding 8px 5px 5px 5px
      display block
      background #f9f9f9
      overflow auto
      list-style none
      font-size 12px
      border-bottom 1px solid #ccc
      line-height 32px;
      table
        width 180px
        float right
        text-align center
        line-height 16px
        thead td
          background #f2f2f2
        tr
          td
      .product-link
        display inline-block
        vertical-align middle
        line-height 16px
        max-width 180px
        span
          display none
        .product-right-descr
          display inline-block
          vertical-align middle
      .ace-spinner
        display inline-block
        vertical-align middle
      .product-right-descr
        margin-left 10px
        margin-bottom 5px
        padding-right 20px
        font-size 16px
        line-height 16px
      .delete-product
        font-size 24px
        color #ff0000
        &:hover
          text-decoration none
      .flexslider
        li
          padding 0
          border 0
          background 0
      .unit-name
        display none
  .itogo-right
    padding-left 10px
    font-size 16px
    span
      font-weight bold
  .delivery-right
    padding-left 10px
    h3
      font-size 16px
    .input-delivery
      display none
      padding-right 10px
      .lbl
        font-size 16px
        display block
        margin-bottom 5px
      input
        width 100%
        margin-bottom 10px
        &.short
          width 175px
          display inline-block
          &.first
            margin-right 5px
      #delivery-addr
        margin-left 0
      .delivery-dropdown
        float right
        margin-top -5px
        .dropdown-menu
          left -233px
          width 360px
    .alert-delivery
      color #ff0000
      display none
  textarea
    margin 10px
    width 358px
    height 80px
    font-family Tahoma,Arial
    font-size 14px
    color rgb(133, 133, 133)
  .btn-grey
    margin-left 186px
    margin-right 10px

.datepicker
  padding 0 2px 5px 2px
  width 350px
  z-index 11 !important
  margin-left -84px
  table
    width 100%
  .switch
    text-align center
  td
    min-width 22px !important
    padding 0 !important
    text-align center
    cursor pointer
    &.active
      color #fff

th.prev
th.next
.input-group-addon
  cursor pointer

.order-day
  background-color #bfa6c4
  &:after
    content "День с заказом"
    margin-left -100px
.free-day
  background-color #62c462
  &:after
    content "Свободный день"
    margin-left -120px
.day-with-order
  background-color #eee827
  &:after
    content "Свободный день с заказом"
    margin-left -150px
.special-day
  background-color #5bc0de
  &:after
    content "Специальная цена"
    margin-left -130px
.closed-day
  background-color #9baab3
  &:after
    content "Закрытый день"
    margin-left -60px
.order-day:after
.free-day:after
.day-with-order:after
.special-day:after
.closed-day:after
  position absolute
  background-color rgba(0,0,0,.5)
  border-radius main-radius
  padding 2px 5px
  color #fff
  display none
.order-day:hover:after
.free-day:hover:after
.day-with-order:hover:after
.special-day:hover:after
.closed-day:hover:after
  display block

.day-menu
  position absolute
  width 150px
  a
    display block
    padding 5px 10px
    background #9baab3

.ui-menu-item
.ui-autocomplete-category
  list-style none
.ui-helper-hidden-accessible
  display none
.icon-search:hover
  text-decoration none
.ui-menu-item a:hover
  text-decoration none

.breadcrambs
  margin-bottom 10px
  a
    font-weight normal
  span
    display inline-block
    margin 0 2px
  span

.shop-menu
  overflow auto
  min-height 55px
  ul
    margin-left 0
    li
      list-style none
      float left
      margin-bottom 10px
      display inline-block
      margin-left 5px
      width 110px
      text-align center
      line-height 14px
      font-size 11px
      &.active
        a
          color #2a6496
      a
        display block
        font-size 24px
        &:hover
          text-decoration none
        span
          font-size 14px
          display block

.catalog
  table
    width 100%
    thead
      tr
        td
          background #f9f9f9
          font-style italic
    tr
      &:first-child
        td
          border-top 1px solid #ccc
      td
        vertical-align middle
        border-bottom 1px solid #ccc
        padding 5px 0
        text-align center
        &:first-child
          text-align left
          width 60%
          padding-left 5px
        img
          width 20px
          float left
        .fa
          font-size 24px
          color #428bca
          cursor pointer
          &:hover
            color #2a6496
            text-decoration none
        .product-link
          margin-left 0
        span
          display block
          margin-left 30px
          margin-right 10px
          span
            margin 0
        .unit-name
        .ace-spinner
          display inline-block
          vertical-align middle
          margin 0
.shop-orders
  display none
  h1
    margin-top 10px
  .back-to-shop
    float right
    margin-top 13px
  .order-item
    margin-bottom 20px
    overflow auto
    .plus-minus
      font-size 24px
      text-decoration none
    .order-products
      margin 10px 0 0 0
      display none
    .order-edit
    .order-confirm
      font-size 12px
  .btn-primary
    margin 2px
    //float right
    display inline-block
  .more-orders
    text-align center
    margin 20px 0 0 0
    a
      font-size 16px

.orders-tbl
  width 100%
  tr
    width 100%
    min-width 715px
  td
    text-align center
    font-size 16px
    border 1px solid #ccc
    padding 5px 0
  .td1
    width 5%
  .td2
    width 12%
  .td3
    width 10%
  .td4
    width 14%
  .td5
    width 27%
  .td6
    width 7%
  .td7
    width 230px
    border 0

.orders-tbl-wrap
  //margin-right 240px
  margin-bottom 10px
  background #f2f2f2
  table
    width 100%
    border 0
    td
      text-align center
      font-size 16px
      border 1px solid #ccc
      padding 5px 0
  .td1
    width 5%
  .td2
    width 12%
  .td3
    width 10%
  .td4
    width 14%
  .td5
    width 27%
  .td6
    width 7%
  .td7
    width 230px
    border 1px solid #fff
    background #fff

.ace-spinner
  width 50px !important
  .input-mini
    width 40px
    padding 5px 2px
  .spinner-down:hover
  .spinner-up:hover
    background-color rgb(111, 179, 224) !important

.empty-basket
  font-size 24px
  text-align center
  color #ccc

.modal
  width 660px
  left 50%
  margin-left -330px
  background #fff
  top 10%
  //height 388px
  height 250px
  overflow-y auto
  &.modal-with-prepack
    height 265px
  .close
    outline none
  .product-slider
    float left
    .flexslider
      width 200px
      margin-bottom 0
      box-shadow none
      overflow hidden
      .flex-direction-nav a
        background url(../i/bg_direction_nav.png) no-repeat 0 0
      .flex-direction-nav .flex-next
        background-position 100% 0
      .slides li
        text-align center
        line-height 180px
      img
        width auto
        float none
        display inline-block
    .slider
      li
        height 192px
        line-height 192px
      img
        max-width 192px
        max-height  192px
        vertical-align middle
    .carousel
      img
        max-width 60px
        max-height 60px
      li
        cursor pointer
  .product-descr
     margin-left 210px
    h3
      margin-top 0
    .product-text
      height 90px
      overflow auto
    .product-options
      font-size 12px
      line-height 18px
      color #656565
      margin-bottom 10px
    .modal-body
      padding 10px
      position static
    .modal-footer
      position absolute
      height 60px
      top 125px
      right 10px
      width 430px
      background #fff
      text-align left
      padding 0
      padding-top 15px
      .fa-shopping-cart
        float right
        font-size 24px
        &:hover
          text-decoration none
      span
      .ace-spinner
      .fa
        display inline-block
        vertical-align middle
        margin 0 17px
      span
        font-size 20px
      >span
        margin 0 !important
        width 130px
      .prepack-item
        display inline-block
        vertical-align middle
        line-height 16px
        span
          font-size 12px
          margin-left 0
        .fa-plus
          font-size 20px
          position relative
          left -8px
          top -8px
        .fa-plus:hover
          text-decoration none
      &.with-prepack
        span
        .ace-spinner
        .fa
          margin 0 10px
        .fa-shopping-cart
          margin-top 8px
        .prepack-item
          span
            display block
            text-align center
      .full-descr
        margin-top 15px
        margin-bottom 10px
    .product-fullDescr
      //display none
      max-height 320px;
      overflow auto
      line-height 22px
    .prepack-list
      float right
      margin-right 129px
      .prepack-line
        margin-top 5px
      .close
        color #a44451
        opacity .5
        position relative
        top: -10px
        &:hover
          opacity 1
  .error-prepack
    position absolute
    bottom -50px
    right 5px
    width 119px
    height 50px
    font-size 10px
    line-height 10px
.modal-order-end
  height 360px
  .modal-body-list
    max-height 200px
    display block
    overflow auto
    width 100%
    tbody
      width 100%
      tr
        width 100%
        td:first-child
          padding-right 0
          width 60%
        td
          padding 5px
          width 10%
  .modal-footer
    bottom 0
    border 0
    padding 0
    margin 0
    margin-bottom 5px
    text-align right
    width auto
    padding-right 10px
    font-size 20px
    top 280px
    .btn
      float right
      margin 5px
    .modal-itogo
      border 0
      padding 0
      margin 0
      span
        margin 0
        vertical-align baseline
  .delivery-in-modal
    position absolute
    bottom 50px
    left 10px
    font-size 16px

.sidebar#sidebar
  height 100%
  left 0
  top 0
  bottom 0
  position absolute
  z-index 2
  .show-left
    display none

@media all and (max-width: 990px)
  .shop-right
    position fixed
    height 100%
    right -380px
    z-index 10
    padding 0 0 20px 0
    border-bottom 1px solid #ccc
    overflow auto
    &:before
      display none
    .show-right
      display block
      position fixed
      top: 40%
      right -28px
      border-radius 5px 5px 0 0
      cursor pointer
      font-size 16px
      letter-spacing 1px
      border 1px solid #ccc
      background #ccc
      padding 0 10px
      transform -90deg;
    .hide-right
      display block;
      position absolute
      top 10px
      right 10px
      cursor pointer
  .main-content
    margin-right 0
  .catalog table tr td:first-child
    width 450px

@media all and (max-width: 768px),screen and (device-width: 320px)
  .sidebar#sidebar
    margin-left -190px
    .show-left
      display block
      position fixed
      top: 40%
      left -22px
      border-radius 5px 5px 0 0
      cursor pointer
      font-size 16px
      letter-spacing 1px
      border 1px solid #ccc
      background #ccc
      padding 0 10px
      transform 90deg;
  .container
    width 758px
    .main-content
      margin-left 0

@media screen and (device-width: 320px)
   .container
      width 100%

/* блоки при нелогине */
.nologin-user-short
  a
    cursor default !important
    border-bottom 0 !important
    span
      color #fff
      display inline-block
      line-height 18px
      &:hover
        border-bottom 1px solid #fff
        cursor pointer
.moe-nologin
  max-height 420px
  .moe-nologin-add
    text-align left;
    padding-left 10px
    margin-bottom 10px
    h3
      font-size 18px
    label
      width 58px
    .moe-nologin-item
      display inline-block
      text-align left
      vertical-align middle
      margin 0 10px
.modal-login
  width 400px
  margin-left -205px
  border-radius main-radius
  text-align center
  max-height 270px
  .fa
    font-size 40px
    margin 0 10px 20px 0
    &:hover
      text-decoration none
  input
    margin-bottom 10px
  label
    width 65px
  .btn
    width 150px
    display block
    margin 5px auto 0

/* popup логина */
.modal-auth
  width 643px
  overflow hidden
  height 260px
  margin-left -327px
  .login-forms
    margin 0
  .close
    margin-right -5px

/* backoffice */
.backoffice .main-content
  margin-left 200px
  margin-right 0

.backoffice
  .plus-minus
    font-size 24px
    &:hover
      text-decoration none
  .order-products
    display none
    .product-link
      text-decoration none
      color #000000
      cursor default
  .back-orders-top
    .form-group
      margin-right 565px
    .btn-group
    .input-group
    .reset-filters
      float right
      margin-left 10px
    .input-group
      display inline-block
    .dropdown-toggle
      height 34px
.import
  .form-import
    margin 10px 0
    input[type="submit"]
      margin-top 10px
  .products-checklist
  .categories-checklist
  .producers-checklist
    display none
  .import-btn
    margin-bottom 10px
.export
  .export-btn
    margin-top 15px;
  .input-group
    display inline-block
    margin-bottom 10px
  .report-links
    line-height 34px
    display inline-block
    vertical-align middle
    margin-top 15px
    a
      display inline-block
      margin 0 0 0 10px
      vertical-align middle
  .export-orders-checklist
  .export-orderLine-checklist
    display inline-block
    width 49%
    vertical-align top

.import
.export
  display none