@import 'bootstrap.min.css';
@import 'font-awesome-original.css';
@import 'font-awesome.min.css';
@import 'ace-fonts.css';
@import 'ace.css';
@import 'flexslider.css';
@import 'login.css';
html {
  height: 100%;
}
body {
  background: #fff;
  height: 100%;
}
a {
  outline: none !important;
}
.clear {
  clear: both;
}
.btn-primary,
.header-color-blue2 {
  background-color: #438eb9 !important;
}
.container {
  padding: 0;
  max-width: 1240px;
  min-height: 100%;
}
.ace-nav>li a {
  padding: 11px 12px 0 12px;
  line-height: 1.428571429;
  font-size: 16px;
  border: none;
  border-bottom: 3px solid #6fb3e0;
}
.ace-nav>li.active a {
  border-bottom-color: #2b7dbc;
}
.ace-nav>.user-short a {
  border: none;
  padding: 3px 8px;
  font-size: 14px;
}
.ace-nav>.user-short>a {
  line-height: inherit;
  padding: 0 8px;
  font-size: 16px;
}
.nav-list > li > a {
  padding: 8px 10px 10px 16px;
  height: auto;
  line-height: 20px;
  position: relative;
}
.nav-list > li > a span {
  display: inline-block;
  vertical-align: middle;
  width: 134px;
}
.nav-list > li > a b {
  display: inline-block;
  vertical-align: middle;
}
.nav-list > li > a,
.nav-list > li.active > a,
.nav-list > li.active:hover a {
  font-size: 15px;
}
.btn {
  border-radius: 2px !important;
}
.sidebar {
  padding-top: 20px;
  vertical-align: top;
}
.shop {
  border-left: 1px solid #ccc;
}
.main-content {
  margin-right: 250px;
  margin-left: 0;
  padding: 10px;
}
.shop-right {
  float: right;
  width: 250px;
  border: 0;
  border-left: 1px solid #ccc;
  padding-bottom: 20px;
  right: 0;
}
.shop-right:before {
  border: 0;
  border-left: 1px solid #ccc;
}
.shop-right .show-right {
  display: none;
}
.shop-right .hide-right {
  display: none;
}
.shop-right .sidebar-title {
  font-size: 20px;
  border-top: 1px solid #ccc;
  padding: 4px 0 7px 0;
  background: #f9f9f9;
  text-align: center;
  color: #2b7dbc;
}
.shop-right .sidebar-title .go-to-orders {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}
.shop-right nav {
  display: inline-block;
  vertical-align: middle;
}
.shop-right nav a {
  display: block;
}
.shop-right .catalog-order {
  max-height: 320px;
  overflow-y: auto;
  margin-left: 0;
}
.shop-right .catalog-order li {
  padding: 8px 0 8px 5px;
  display: block;
  background: #f9f9f9;
  list-style: none;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
}
.shop-right .catalog-order li table {
  width: 100%;
  text-align: center;
}
.shop-right .catalog-order li table thead td {
  background: #f2f2f2;
}
.shop-right .catalog-order li img {
  float: left;
  width: 40px;
}
.shop-right .catalog-order li .product-right-descr {
  margin-left: 45px;
  margin-bottom: 10px;
  padding-right: 20px;
  line-height: 16px;
}
.shop-right .itogo-right {
  padding-left: 10px;
  font-size: 16px;
}
.shop-right .itogo-right span {
  font-weight: bold;
}
.shop-right .delivery-right {
  padding-left: 10px;
}
.shop-right .delivery-right h3 {
  font-size: 16px;
}
.shop-right .delivery-right .input-delivery {
  display: none;
}
.shop-right .delivery-right .input-delivery .lbl {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}
.shop-right .delivery-right .input-delivery input {
  width: 230px;
  margin-bottom: 10px;
}
.shop-right .delivery-right .input-delivery input.short {
  width: 110px;
  display: inline-block;
}
.shop-right .delivery-right .input-delivery input.short.first {
  margin-right: 5px;
}
.shop-right .delivery-right .input-delivery #delivery-addr {
  margin-left: 0;
}
.shop-right .delivery-right .alert-delivery {
  color: #f00;
  display: none;
}
.shop-right textarea {
  margin: 10px;
  width: 230px;
  height: 80px;
  font-family: Tahoma, Arial;
  font-size: 14px;
  color: #858585;
}
.shop-right .btn-grey {
  margin-left: 30px;
  margin-right: 20px;
}
.datepicker {
  padding: 0 2px 5px 2px;
  width: 250px;
  z-index: 11 !important;
  margin-left: -84px;
}
.datepicker table {
  width: 100%;
}
.datepicker .switch {
  text-align: center;
}
.datepicker td {
  min-width: 22px !important;
  padding: 0 !important;
  text-align: center;
  cursor: pointer;
}
.datepicker td.active {
  color: #fff;
}
th.prev,
th.next,
.input-group-addon {
  cursor: pointer;
}
.order-day {
  background-color: #bfa6c4;
}
.order-day:after {
  content: "День с заказом";
  margin-left: -100px;
}
.free-day {
  background-color: #62c462;
}
.free-day:after {
  content: "Свободный день";
  margin-left: -120px;
}
.special-day {
  background-color: #5bc0de;
}
.special-day:after {
  content: "Специальная цена";
  margin-left: -130px;
}
.closed-day {
  background-color: #9baab3;
}
.closed-day:after {
  content: "Закрытый день";
  margin-left: -60px;
}
.order-day:after,
.free-day:after,
.special-day:after,
.closed-day:after {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  border-radius: 2px;
  padding: 2px 5px;
  color: #fff;
  display: none;
}
.order-day:hover:after,
.free-day:hover:after,
.special-day:hover:after,
.closed-day:hover:after {
  display: block;
}
.day-menu {
  position: absolute;
  width: 150px;
}
.day-menu a {
  display: block;
  padding: 5px 10px;
  background: #9baab3;
}
.ui-menu-item,
.ui-autocomplete-category {
  list-style: none;
}
.ui-helper-hidden-accessible {
  display: none;
}
.icon-search:hover {
  text-decoration: none;
}
.ui-menu-item a:hover {
  text-decoration: none;
}
.breadcrambs {
  margin-bottom: 10px;
span
}
.breadcrambs a {
  font-weight: normal;
}
.breadcrambs span {
  display: inline-block;
  margin: 0 2px;
}
.shop-menu {
  overflow: auto;
  margin-bottom: 10px;
}
.shop-menu ul {
  margin-left: 0;
}
.shop-menu ul li {
  list-style: none;
  float: left;
  margin-left: 5px;
  width: 80px;
  text-align: center;
  line-height: 14px;
  font-size: 11px;
}
.shop-menu ul li:first-child {
  margin-left: 0;
  width: 50px;
}
.shop-menu ul li.active a {
  color: #2a6496;
}
.shop-menu ul li a {
  display: block;
  font-size: 24px;
}
.shop-menu ul li a:hover {
  text-decoration: none;
}
.catalog table {
  width: 100%;
}
.catalog table thead tr td {
  background: #f9f9f9;
  font-style: italic;
}
.catalog table tr:first-child td {
  border-top: 1px solid #ccc;
}
.catalog table tr td {
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  text-align: center;
}
.catalog table tr td:first-child {
  text-align: left;
  width: 70%;
  padding-left: 5px;
}
.catalog table tr td img {
  width: 20px;
  float: left;
}
.catalog table tr td .fa {
  font-size: 24px;
  color: #428bca;
  cursor: pointer;
}
.catalog table tr td .fa:hover {
  color: #2a6496;
}
.catalog table tr td span {
  display: block;
  margin-left: 30px;
  margin-right: 10px;
}
.catalog table tr td span span {
  margin: 0;
}
.catalog table tr td .unit-name,
.catalog table tr td .ace-spinner {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.shop-orders {
  display: none;
}
.shop-orders h1 {
  margin-top: 10px;
}
.shop-orders .back-to-shop {
  float: right;
  margin-top: 13px;
}
.shop-orders .order-item {
  margin-bottom: 20px;
  overflow: auto;
}
.shop-orders .order-item .plus-minus {
  font-size: 24px;
  text-decoration: none;
}
.shop-orders .order-item .order-products {
  margin: 10px 0 0 0;
  display: none;
}
.shop-orders .btn-primary {
  margin: 2px;
  float: right;
}
.shop-orders .more-orders {
  text-align: center;
  margin: 20px 0 0 0;
  display: none;
}
.shop-orders .more-orders a {
  font-size: 16px;
}
.orders-tbl {
  width: 100%;
  display: block;
  margin-right: 100px;
}
.orders-tbl tr {
  width: 100%;
  min-width: 715px;
}
.orders-tbl tbody {
  display: block;
}
.orders-tbl td {
  text-align: center;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 5px 0;
}
.orders-tbl .td1 {
  width: 5%;
}
.orders-tbl .td2 {
  width: 19%;
}
.orders-tbl .td3 {
  width: 19%;
}
.orders-tbl .td4 {
  width: 19%;
}
.orders-tbl .td5 {
  width: 19%;
}
.orders-tbl .td6 {
  width: 19%;
}
.ace-spinner {
  width: 50px !important;
}
.ace-spinner .input-mini {
  width: 30px;
  padding: 5px 2px;
}
.ace-spinner .spinner-down:hover,
.ace-spinner .spinner-up:hover {
  background-color: #6fb3e0 !important;
}
.empty-basket {
  font-size: 24px;
  text-align: center;
  color: #ccc;
}
.modal {
  width: 560px;
  left: 50%;
  margin-left: -285px;
  background: #fff;
  top: 20%;
  max-height: 288px;
  overflow-y: auto;
}
.modal .close {
  outline: none;
}
.modal .product-slider {
  float: left;
}
.modal .product-slider .flexslider {
  width: 200px;
  margin-bottom: 0;
  box-shadow: none;
  overflow: hidden;
}
.modal .product-slider .flexslider .flex-direction-nav a {
  background: url("../i/bg_direction_nav.png") no-repeat 0 0;
}
.modal .product-slider .flexslider .flex-direction-nav .flex-next {
  background-position: 100% 0;
}
.modal .product-slider .flexslider .slides li {
  text-align: center;
}
.modal .product-slider .flexslider img {
  width: auto;
  float: none;
  display: inline-block;
}
.modal .product-slider .slider img {
  max-width: 192px;
  max-height: 192px;
}
.modal .product-slider .carousel img {
  max-width: 60px;
  max-height: 60px;
}
.modal .product-slider .carousel li {
  cursor: pointer;
}
.modal .product-descr {
  margin-left: 210px;
}
.modal h3 {
  margin-top: 0;
}
.modal .product-text {
  height: 170px;
  overflow: auto;
}
.modal .modal-body {
  padding: 10px;
  position: static;
}
.modal .modal-footer {
  position: absolute;
  bottom: 20px;
  right: 10px;
  width: 330px;
  background: #fff;
  text-align: left;
  padding: 0;
  padding-top: 15px;
}
.modal .modal-footer span,
.modal .modal-footer .ace-spinner,
.modal .modal-footer .fa {
  display: inline-block;
  vertical-align: middle;
  margin: 0 17px;
}
.modal .modal-footer span {
  font-size: 20px;
}
.modal-order-end {
  max-height: 312px;
}
.modal-order-end .modal-body-list {
  max-height: 148px;
  display: block;
  overflow: auto;
}
.modal-order-end .modal-body-list tbody {
  width: 100%;
  display: block;
}
.modal-order-end .modal-body-list tbody tr {
  width: 100%;
  display: block;
}
.modal-order-end .modal-body-list tbody tr td:first-child {
  padding-right: 0;
  width: 70%;
}
.modal-order-end .modal-body-list tbody tr td {
  padding: 5px;
  width: 10%;
}
.modal-order-end .modal-footer {
  bottom: 0;
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  text-align: right;
  width: auto;
  padding-right: 10px;
  font-size: 20px;
}
.modal-order-end .modal-footer .btn {
  float: right;
  margin: 5px;
}
.modal-order-end .modal-footer .modal-itogo {
  border: 0;
  padding: 0;
  margin: 0;
}
.modal-order-end .modal-footer .modal-itogo span {
  margin: 0;
  vertical-align: baseline;
}
.sidebar#sidebar {
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
}
.sidebar#sidebar .show-left {
  display: none;
}
@media all and (max-width: 990px) {
  .shop-right {
    position: fixed;
    height: 100%;
    right: -250px;
    z-index: 10;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #ccc;
  }
  .shop-right:before {
    display: none;
  }
  .shop-right .show-right {
    display: block;
    position: fixed;
    top: 40%;
    right: -28px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    background: #ccc;
    padding: 0 10px;
    -moz-transform: rotate(-90deg);
/* Для Firefox */
    -ms-transform: rotate(-90deg);
/* Для IE */
    -webkit-transform: rotate(-90deg);
/* Для Safari, Chrome, iOS */
    -o-transform: rotate(-90deg);
/* Для Opera */
    transform: rotate(-90deg);
  }
  .shop-right .hide-right {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .main-content {
    margin-right: 0;
  }
  .catalog table tr td:first-child {
    width: 450px;
  }
}
@media all and (max-width: 768px),screen and (device-width: 320px) {
  .sidebar#sidebar {
    margin-left: -190px;
  }
  .sidebar#sidebar .show-left {
    display: block;
    position: fixed;
    top: 40%;
    left: -22px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    background: #ccc;
    padding: 0 10px;
    -moz-transform: rotate(90deg);
/* Для Firefox */
    -ms-transform: rotate(90deg);
/* Для IE */
    -webkit-transform: rotate(90deg);
/* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg);
/* Для Opera */
    transform: rotate(90deg);
  }
  .container {
    width: 758px;
  }
  .container .main-content {
    margin-left: 0;
  }
}
@media screen and (device-width: 320px) {
  .container {
    width: 100%;
  }
}
/* блоки при нелогине */
.nologin-user-short a {
  cursor: default !important;
  border-bottom: 0 !important;
}
.nologin-user-short a span {
  color: #fff;
  display: inline-block;
  line-height: 18px;
}
.nologin-user-short a span:hover {
  border-bottom: 1px solid #fff;
  cursor: pointer;
}
.moe-nologin {
  max-height: 420px;
}
.moe-nologin .moe-nologin-add {
  text-align: left;
  padding-left: 10px;
  margin-bottom: 10px;
}
.moe-nologin .moe-nologin-add h3 {
  font-size: 18px;
}
.moe-nologin .moe-nologin-add label {
  width: 58px;
}
.moe-nologin .moe-nologin-add .moe-nologin-item {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin: 0 10px;
}
.modal-login {
  width: 400px;
  margin-left: -205px;
  border-radius: 2px;
  text-align: center;
  max-height: 270px;
}
.modal-login .fa {
  font-size: 40px;
  margin: 0 10px 20px 0;
}
.modal-login .fa:hover {
  text-decoration: none;
}
.modal-login input {
  margin-bottom: 10px;
}
.modal-login label {
  width: 65px;
}
.modal-login .btn {
  width: 150px;
  display: block;
  margin: 5px auto 0;
}
/* popup логина */
.modal-auth {
  width: 643px;
  overflow: hidden;
  height: 260px;
  margin-left: -327px;
}
.modal-auth .login-forms {
  margin: 0;
}
.modal-auth .close {
  margin-right: -5px;
}
