@import 'login.css';
@import 'profile.css';
html {
  height: 100%;
}
body {
  background: #fff;
  height: 100%;
}
a {
  outline: none !important;
}
h1 {
  margin-top: 10px;
  font-size: 24px;
}
.btn-primary,
.header-color-blue2 {
  background-color: #438eb9 !important;
}
.container {
  padding: 0;
  max-width: 1240px;
  min-width: 753px;
  min-height: 100%;
}
.navbar-container {
  text-align: center;
}
.form-search {
  display: inline-block;
  width: 40%;
  margin: 0;
  margin-top: 5px;
}
.form-search .icon-search:hover {
  text-decoration: none;
}
.ace-nav>li a {
  padding: 11px 12px 0 12px;
  line-height: 1.428571429;
  font-size: 16px;
  border: none;
  border-bottom: 3px solid #6fb3e0;
}
.ace-nav>li.active a {
  border-bottom-color: #2b7dbc;
}
.ace-nav .user-menu {
  right: 0 !important;
}
.ace-nav>.user-short a {
  border: none;
  padding: 3px 8px;
  font-size: 14px;
  text-align: left;
}
.ace-nav>.user-short>a {
  line-height: inherit;
  padding: 0 8px;
  font-size: 16px;
}
.nav-list > li > a {
  padding: 8px 10px 10px 16px;
  height: auto;
  line-height: 20px;
  position: relative;
}
.nav-list > li > a span {
  display: inline-block;
  vertical-align: middle;
  width: 134px;
}
.nav-list > li > a b {
  display: inline-block;
  vertical-align: middle;
}
.nav-list > li > a,
.nav-list > li.active > a,
.nav-list > li.active:hover a {
  font-size: 15px;
}
.sidebar#sidebar {
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 13;
}
.sidebar#sidebar .show-left {
  display: none;
}
.sidebar-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 190px;
  background: #fff;
  margin-top: 10px;
  border-right: 1px solid #438eb9;
}
.sidebar-right h3 {
  font-size: 14px;
  font-family: tahoma, arial;
  margin: 5px 0;
}
.sidebar-right ul {
  margin-left: 0;
}
.sidebar-right ul li {
  border-top: 1px solid #438eb9;
  padding: 5px;
}
.sidebar-right ul li:first-child {
  border-top: 0;
}
.sidebar-right .importantly-left {
  float: left;
  width: 40px;
}
.sidebar-right .importantly-left img {
  width: 40px;
}
.sidebar-right .importantly-right {
  margin-left: 50px;
  line-height: 14px;
}
.sidebar-right .importantly-top,
.sidebar-right .importantly-bottom {
  font-size: 11px;
  border-bottom: 1px solid #438eb9;
  padding: 5px;
  border-top: 1px solid #438eb9;
}
.sidebar-right .importantly-top {
  font-size: 18px;
}
.btn {
  border-radius: 2px !important;
}
.page-title {
  padding: 15px 0 0 10px;
  font-size: 20px;
}
.main-content-top {
  overflow: auto;
  border-bottom: 1px solid #ccc;
}
.submenu {
  padding: 15px 10px 15px 0;
}
.submenu .btn {
  display: block !important;
  font-size: 14px;
  margin-left: 1px;
  border: 0;
  border-top: 3px solid #6fb3e0;
  height: 35px;
  padding-bottom: 7px;
}
.submenu .btn:hover {
  border-color: #4f99c6;
}
.btn-group>.btn {
  border-radius: 2px !important;
}
.dropdown-menu {
  min-width: 115px;
}
.options {
  padding: 8px 0 5px 10px;
  height: 44px;
  text-align: center;
}
.options .form-group {
  margin: 0 130px 0 120px;
}
.options .form-group input {
  height: 30px;
  border-radius: 2px !important;
}
.options .form-group .icon-search {
  padding-top: 1px;
  padding-right: 5px;
}
.options .form-group .icon-search:hover {
  text-decoration: none;
}
.options .btn-group {
  float: right;
  margin-right: 14px;
  height: 30px;
  text-align: left;
}
.options .btn-primary {
  font-size: 14px;
  float: left;
}
.sidebar {
  padding-top: 20px;
  vertical-align: top;
}
.main-content {
  border-right: 1px solid #ccc;
  min-height: 200%;
  margin-right: 190px;
}
.widget-main {
  overflow: auto;
  padding: 0;
  padding-bottom: 5px;
}
.fa:hover {
  text-decoration: none;
}
.topic-item {
  margin-bottom: 10px;
}
.topic-item .topic-descr {
  border-bottom: 1px solid #5090c1;
  border-radius: 2px;
}
.topic-item .topic-descr .topic-header-left {
  display: none;
}
.topic-item .topic-descr header {
  height: 40px;
  line-height: 37px;
}
.topic-item .topic-descr header:after {
  clear: none;
}
.topic-item .topic-descr header .widget-toolbar {
  float: right;
  vertical-align: middle;
  padding-left: 10px;
  margin-right: 8px;
  padding-right: 0;
  border-left: 1px solid #fff;
  height: 100%;
}
.topic-item .topic-descr header .widget-toolbar a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
  color: #fff;
  font-size: 1.5em;
}
.topic-item .topic-descr header .widget-toolbar a:hover {
  text-decoration: none;
}
.topic-item .topic-descr header h2 {
  margin: 0 100px 0 110px;
  vertical-align: middle;
  height: 39px;
  line-height: 39px;
  overflow: hidden;
  font-size: 18px;
  font-weight: bold;
}
.topic-item .topic-descr header h2.small {
  font-size: 16px;
}
.topic-item .topic-descr header h2 span {
  vertical-align: middle;
  line-height: 18px;
  display: inline-block;
  float: none;
}
.topic-item .topic-descr header span {
  float: left;
  vertical-align: middle;
}
.topic-item .topic-descr .topic-right {
  margin-left: 115px;
}
.topic-item .topic-descr .topic-right h2 {
  margin-top: 0;
  font-size: 20px;
}
.topic-item .topic-descr .topic-right .fa-relations {
  float: right;
  font-size: 16px;
  opacity: 0;
}
.topic-item .topic-descr .topic-right .fa-sitemap {
  float: right;
  margin-right: 10px;
  opacity: 0;
}
.topic-item .topic-descr .topic-right .likes {
  text-align: right;
}
.topic-item .topic-descr .topic-right .likes a {
  display: inline-block;
}
.topic-item .topic-descr .topic-right .likes a:hover {
  text-decoration: none;
}
.topic-item .topic-descr .topic-right .likes .like-item {
  display: inline-block;
  margin: 0 5px;
  font-size: 18px;
}
.topic-item .topic-descr .topic-right .likes .like-item span {
  display: inline-block;
  font-size: 14px;
  color: #000;
}
.topic-item .topic-descr .topic-left {
  float: left;
  text-align: center;
  width: 95px;
}
.topic-item .topic-descr .topic-left .plus-minus {
  font-size: 30px;
  margin-top: 5px;
}
.topic-item .topic-descr .topic-left img {
  width: 95px;
}
.topic-item .topic-descr .topic-left .topic-author {
  font-size: 14px;
  text-align: left;
}
.topic-item .topic-descr .topic-left .author-rating a {
  display: inline-block;
}
.topic-item .topic-descr .topic-left .author-rating a:hover {
  text-decoration: none;
}
.topic-item .topic-descr footer {
  clear: left;
  line-height: 30px;
  border-radius: 0 0 2px 2px;
  padding: 0;
  height: 38px;
}
.topic-item .topic-descr footer .answers-ctrl {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 115px;
  height: 37px;
  border-right: 1px solid #ccc;
}
.topic-item .topic-descr footer .answers-ctrl a {
  display: inline-block;
  vertical-align: top;
  font-size: 30px;
  line-height: 40px;
}
.topic-item .topic-descr footer .answers-ctrl a:hover {
  text-decoration: none;
}
.topic-item .topic-descr footer .answers-ctrl span {
  display: inline-block;
  vertical-align: middle;
  line-height: 35px;
  margin-left: 10px;
}
.topic-item .topic-descr footer .answers-ctrl span span {
  margin-left: 0;
}
.topic-item .topic-descr footer .answers-ctrl span a {
  font-size: 12px;
  display: inline-block;
  color: #000;
  font-weight: bold;
  line-height: 35px;
  vertical-align: middle;
}
.topic-item .topic-descr footer .answers-ctrl span a:hover {
  text-decoration: underline;
}
.topic-item .topic-descr footer .ans-btn {
  float: right;
  margin: 3px 8px 0 0;
}
.topic-item .topic-descr footer .topic-statistic {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.topic-item .topic-descr.one-message .answer-date {
  color: #808080;
  float: left;
  margin-top: 5px;
}
.topic-item .topic-descr.one-message .message-author {
  margin-bottom: 10px;
  font-size: 14px;
}
.one-message .like-item .fa {
  margin-right: 5px;
}
.alert {
  padding: 0;
  margin-bottom: 5px;
}
.one-message {
  border-radius: 1px !important;
}
.wysiwig-box {
  display: none;
}
.one-message+.wysiwig-box {
  border: 1px solid #5090c1;
}
.widget-header.fixed {
  position: fixed;
  top: 0;
  z-index: 10;
  margin-left: -1px;
}
.widget-header.fixed .topic-header-left {
  display: inline-block;
  line-height: 40px;
  width: 101px;
}
.widget-header.fixed .topic-header-left i {
  cursor: pointer;
  font-size: 1.5em;
  margin-left: 20px;
  vertical-align: middle;
}
.widget-header.fixed .topic-header-left i.fa-minus,
.widget-header.fixed .topic-header-left i.fa-plus {
  font-size: 30px;
}
.widget-header.fixed .topic-header-date {
  display: none;
}
.dd>.dd-list>.topic-item.list-view .dd-list {
  padding-left: 0;
}
.dd>.dd-list>.topic-item.list-view>.dd-list {
  padding-left: 30px;
}
.dd-item {
  min-height: 0;
  margin: 10px 0;
}
.wysiwyg-editor a {
  cursor: pointer;
}
@media all and (max-width: 768px), screen and (device-width: 320px) {
  .sidebar#sidebar {
    margin-left: -190px;
  }
  .sidebar#sidebar .show-left {
    display: block;
    position: fixed;
    top: 40%;
    z-index: 120;
    left: -22px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    background: #ccc;
    padding: 0 10px;
    -moz-transform: rotate(90deg);
/* Для Firefox */
    -ms-transform: rotate(90deg);
/* Для IE */
    -webkit-transform: rotate(90deg);
/* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg);
/* Для Opera */
    transform: rotate(90deg);
  }
  .container {
    width: 100%;
  }
  .container .main-content {
    margin-left: 0;
  }
}
/* создание темы */
.create-topic {
  padding: 0 10px;
  background: #ddedf6;
}
.create-topic .topic-body textarea {
  width: 100%;
  height: 90px;
  margin-bottom: 10px;
}
.create-topic >.btn-group {
  float: right;
  margin-left: 5px;
}
.create-topic .wysiwig-box {
  display: block;
}
.create-topic .wysiwig-box .pull-left .btn {
  margin-right: 5px;
}
.create-topic .wysiwyg-editor {
  border-left: 1px solid #ccc;
}
/* новые стили после редизайна 11.06.14 */
.itemdiv > .user > img {
  border-radius: 0;
}
.itemdiv.dialogdiv > .body {
  padding-bottom: 28px;
}
.message-input {
  padding: 10px;
  margin-bottom: 20px;
  background: #ddedf6;
}
.message-input textarea {
  width: 100%;
  height: 90px;
  margin-bottom: 10px;
}
.message-input .hashtag {
  margin-left: 10px;
}
.lenta-item {
  margin-bottom: 20px;
}
.lenta-item .first-message {
  border: 1px solid #d7dbdd;
  position: relative;
  padding: 5px;
}
.lenta-item .first-message .user {
  float: left;
}
.lenta-item .first-message .user img {
  width: 100px;
}
.lenta-item .first-message .body {
  margin-left: 110px;
}
.lenta-item .first-message .body .time {
  float: right;
}
.lenta-item .first-message .body .tools {
  position: absolute;
  right: 5px;
}
.lenta-item .dialogs {
  clear: left;
  margin: 0 0 0 30px;
  padding-top: 15px;
  padding-right: 0;
}
.lenta-item .message-textarea {
  width: 99%;
}
.lenta-item .lenta-item-bottom {
  position: absolute;
  bottom: 3px;
}
.lenta-item .lenta-item-hashtag {
  float: right;
}
.create-topic-btn {
  overflow: auto;
}
.create-topic-btn a {
  float: right;
  margin: 15px 10px 15px 0;
}
.create-topic {
  padding: 15px 10px;
}
.talks-title {
  padding: 10px;
  overflow: auto;
  border-top: 1px solid #5090c1;
}
.talks-title .talks-title-left {
  float: left;
}
.talks-title .talks-title-left a {
  font-weight: bold;
  font-size: 16px;
}
.talks-title .talks-title-right {
  float: right;
}
.talks-block {
  padding: 0 10px;
}
.dd-item .dd-list {
  display: none;
/* private-messages */
}
.private-messages {
  padding: 10px;
}
.private-messages h2 {
  margin-top: 0;
}
.private-messages .private-message-single {
  padding: 10px;
  overflow: auto;
  border-bottom: 1px solid #ccc;
/* nextdoors */
}
.private-messages .private-message-single:first-child {
  border-top: 1px solid #ccc;
}
.private-messages .private-message-single .private-message-left {
  width: 300px;
}
.private-messages .private-message-single .private-message-left .private-message-ava img {
  width: 70px;
}
.private-messages .private-message-single .private-message-left .private-message-author {
  margin-left: 90px;
}
.private-messages .private-message-single .private-message-left .private-message-author a:hover {
  text-decoration: none;
}
.private-messages .private-message-single .private-message-right {
  margin-left: 320px;
}
.nextdoors {
  padding: 10px;
}
.nextdoors .form-search {
  margin-bottom: 20px;
  width: 100%;
}
.nextdoors .nextdoor-single {
  padding: 10px;
  overflow: auto;
  border: 1px solid #ccc;
  margin-bottom: 10px;
/* profle */
}
.nextdoors .nextdoor-single .nextdoor-left span {
  display: block;
}
.nextdoors .nextdoor-single .nextdoor-left .nextdoor-ava img {
  width: 70px;
}
.nextdoors .nextdoor-single .nextdoor-left .nextdoor-name {
  margin-left: 90px;
}
.user-body .user-body-left .logo-container {
  position: relative;
}
.user-body .user-body-left .ace-file-input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.user-body .user-body-left .ace-file-input input {
  height: 0;
}
.user-body .user-body-left .ace-file-input .file-label {
  height: 150px;
  width: 150px;
  background: rgba(255,255,255,0.1);
  line-height: 100px;
  border: none;
}
.user-body .user-body-left .ace-file-input .file-label:before {
  background: rgba(0,0,0,0.4);
  color: #fff;
  bottom: 0;
  top: auto;
  height: 30px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
}
.user-body .user-body-left .ace-file-input .file-name {
  display: inline-block;
  vertical-align: middle;
}
.user-body .user-body-left img {
  width: 150px;
}
.user-body .user-body-right {
  margin-left: 170px;
}
