@import 'bootstrap.min.css';
@import 'font-awesome-original.css';
@import 'font-awesome.min.css';
@import 'ace-fonts.css';
@import 'ace.css';
html {
  height: 100%;
}
body {
  background: #fff;
  height: 101%;
}
a {
  outline: none !important;
}
.btn-primary,
.header-color-blue2 {
  background-color: #438eb9 !important;
}
.container {
  padding: 0;
  max-width: 1240px;
  min-height: 100%;
}
.ace-nav>li a {
  padding: 11px 12px 0 12px;
  line-height: 1.428571429;
  font-size: 16px;
  border: none;
  border-bottom: 3px solid #6fb3e0;
}
.ace-nav>li.active a {
  border-bottom-color: #2b7dbc;
}
.ace-nav>.user-short a {
  border: none;
  padding: 3px 8px;
  font-size: 14px;
}
.ace-nav>.user-short>a {
  line-height: inherit;
  padding: 0 8px;
  font-size: 16px;
}
.nav-list > li > a {
  padding: 8px 10px 10px 16px;
  height: auto;
  line-height: 20px;
  position: relative;
}
.nav-list > li > a span {
  display: inline-block;
  vertical-align: middle;
  width: 134px;
}
.nav-list > li > a b {
  display: inline-block;
  vertical-align: middle;
}
.nav-list > li > a,
.nav-list > li.active > a,
.nav-list > li.active:hover a {
  font-size: 15px;
}
.sidebar#sidebar {
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
}
.sidebar#sidebar .show-left {
  display: none;
}
.btn {
  border-radius: 2px !important;
}
.submenu {
  padding: 5px 0;
  background: #d9edf7;
}
.submenu >ul {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  margin-left: 5px;
}
.submenu >ul li {
  list-style: none;
  float: left;
  margin-left: 5px;
  border-top: 3px solid #6fb3e0;
  border-radius: 2px;
}
.submenu >ul li a {
  font-size: 14px;
  padding-top: 1px;
  border-radius: 0 0 2px 2px !important;
}
.submenu >ul li.active {
  border-color: #2b7dbc;
}
.submenu >ul li:hover {
  border-color: #4f99c6;
}
.submenu .btn-group {
  margin-left: 5px;
}
.submenu .btn-group.active .btn {
  border-color: #2b7dbc;
}
.submenu .btn-group .btn {
  font-size: 14px;
  border: 0;
  border-top: 3px solid #6fb3e0;
  height: 35px;
  padding-bottom: 7px;
}
.submenu .btn-group .btn:hover {
  border-color: #4f99c6;
}
.btn-group>.btn {
  border-radius: 2px !important;
}
.options {
  padding: 8px 0 5px 10px;
  height: 44px;
  text-align: center;
}
.options .form-group {
  margin: 0 130px 0 120px;
}
.options .form-group input {
  height: 30px;
  border-radius: 2px !important;
}
.options .form-group .icon-search {
  padding-top: 1px;
  padding-right: 5px;
}
.options .form-group .icon-search:hover {
  text-decoration: none;
}
.options .btn-group {
  float: right;
  margin-right: 14px;
  height: 30px;
}
.options .btn-primary {
  font-size: 14px;
  float: left;
}
.sidebar {
  padding-top: 20px;
  vertical-align: top;
}
.main-content {
  border-right: 10px solid #f2f2f2;
  min-height: 200%;
}
.widget-main {
  overflow: auto;
  padding-bottom: 5px;
}
.fa:hover {
  text-decoration: none;
}
.topic-item {
  margin-bottom: 10px;
}
.topic-item .topic-descr {
  border: 1px solid #5090c1;
  border-radius: 2px;
}
.topic-item .topic-descr .topic-header-left {
  display: none;
}
.topic-item .topic-descr header {
  height: 40px;
  line-height: 37px;
}
.topic-item .topic-descr header:after {
  clear: none;
}
.topic-item .topic-descr header .widget-toolbar {
  float: right;
  vertical-align: middle;
  padding-left: 10px;
  margin-right: 8px;
  padding-right: 0;
  border-left: 1px solid #fff;
  height: 100%;
}
.topic-item .topic-descr header .widget-toolbar a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
  color: #fff;
  font-size: 1.5em;
}
.topic-item .topic-descr header .widget-toolbar a:hover {
  text-decoration: none;
}
.topic-item .topic-descr header h2 {
  display: inline-block;
  margin: 0 0 0 17px;
  vertical-align: middle;
  max-height: 39px;
  overflow: hidden;
  font-size: 18px;
  font-weight: bold;
}
.topic-item .topic-descr header h2.small {
  font-size: 16px;
}
.topic-item .topic-descr header span {
  display: inline-block;
  vertical-align: middle;
}
.topic-item .topic-descr .topic-right {
  margin-left: 115px;
}
.topic-item .topic-descr .topic-right .fa-relations {
  float: right;
  font-size: 16px;
  opacity: 0;
}
.topic-item .topic-descr .topic-right .fa-sitemap {
  float: right;
  margin-right: 10px;
  opacity: 0;
}
.topic-item .topic-descr .topic-right .likes {
  text-align: right;
}
.topic-item .topic-descr .topic-right .likes a {
  display: inline-block;
}
.topic-item .topic-descr .topic-right .likes a:hover {
  text-decoration: none;
}
.topic-item .topic-descr .topic-right .likes .like-item {
  display: inline-block;
  margin: 0 5px;
  font-size: 18px;
}
.topic-item .topic-descr .topic-right .likes .like-item span {
  display: inline-block;
  font-size: 14px;
  color: #000;
}
.topic-item .topic-descr .topic-left {
  float: left;
  text-align: center;
  width: 95px;
}
.topic-item .topic-descr .topic-left img {
  width: 95px;
}
.topic-item .topic-descr .topic-left .topic-author {
  font-size: 14px;
}
.topic-item .topic-descr .topic-left .author-rating a {
  display: inline-block;
}
.topic-item .topic-descr .topic-left .author-rating a:hover {
  text-decoration: none;
}
.topic-item .topic-descr footer {
  clear: left;
  line-height: 30px;
  border-radius: 0 0 2px 2px;
  padding: 0;
  height: 38px;
}
.topic-item .topic-descr footer .answers-ctrl {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 115px;
  height: 37px;
  border-right: 1px solid #ccc;
}
.topic-item .topic-descr footer .answers-ctrl a {
  display: inline-block;
  vertical-align: top;
  font-size: 30px;
  line-height: 40px;
}
.topic-item .topic-descr footer .answers-ctrl a:hover {
  text-decoration: none;
}
.topic-item .topic-descr footer .answers-ctrl span {
  display: inline-block;
  vertical-align: middle;
  line-height: 35px;
  margin-left: 10px;
}
.topic-item .topic-descr footer .answers-ctrl span span {
  margin-left: 0;
}
.topic-item .topic-descr footer .answers-ctrl span a {
  font-size: 12px;
  display: inline-block;
  color: #000;
  font-weight: bold;
  line-height: 35px;
  vertical-align: middle;
}
.topic-item .topic-descr footer .answers-ctrl span a:hover {
  text-decoration: underline;
}
.topic-item .topic-descr footer .ans-btn {
  float: right;
  margin: 3px 8px 0 0;
}
.topic-item .topic-descr footer .topic-statistic {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.topic-item .topic-descr.answer-item {
  margin: 10px 0 10px 0;
}
.topic-item .topic-descr.answer-item .answer-date {
  color: #808080;
  float: left;
  margin-top: 5px;
}
.topic-item .topic-descr.answer-item .message-author {
  margin-bottom: 10px;
  font-size: 14px;
}
.alert {
  padding: 0;
  margin-bottom: 5px;
}
.answer-item {
  border-radius: 1px !important;
}
.wysiwig-box {
  display: none;
}
.answer-item+.wysiwig-box {
  border: 1px solid #5090c1;
}
.widget-header.fixed {
  position: fixed;
  top: 0;
  z-index: 10;
  margin-left: -1px;
}
.widget-header.fixed .topic-header-left {
  display: inline-block;
  line-height: 40px;
  width: 101px;
}
.widget-header.fixed .topic-header-left i {
  cursor: pointer;
  font-size: 1.5em;
  margin-left: 20px;
  vertical-align: middle;
}
.widget-header.fixed .topic-header-left i.fa-minus,
.widget-header.fixed .topic-header-left i.fa-plus {
  font-size: 30px;
}
.widget-header.fixed .topic-header-date {
  display: none;
}
.dd>.dd-list>.topic-item {
  margin-left: 10px;
}
.dd>.dd-list>.topic-item.list-view .dd-list {
  padding-left: 0;
}
.dd>.dd-list>.topic-item.list-view>.dd-list {
  padding-left: 30px;
}
@media all and (max-width: 768px),screen and (device-width: 320px) {
  .sidebar#sidebar {
    margin-left: -190px;
  }
  .sidebar#sidebar .show-left {
    display: block;
    position: fixed;
    top: 40%;
    left: -22px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    background: #ccc;
    padding: 0 10px;
    -moz-transform: rotate(90deg);
/* Для Firefox */
    -ms-transform: rotate(90deg);
/* Для IE */
    -webkit-transform: rotate(90deg);
/* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg);
/* Для Opera */
    transform: rotate(90deg);
  }
  .container {
    width: 100%;
  }
  .container .main-content {
    margin-left: 0;
  }
}
