<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<servlet>
		<servlet-name>ClearAllSessions</servlet-name>
		<servlet-class>com.vmesteonline.be.utils.ClearAllSessions</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClearAllSessions</servlet-name>
		<url-pattern>/utils/sclear</url-pattern>
	</servlet-mapping>
	
    <servlet>
		<servlet-name>ExportServlet</servlet-name>
		<servlet-class>com.vmesteonline.be.utils.ExportCSVServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExportServlet</servlet-name>
		<url-pattern>/utils/export</url-pattern>
	</servlet-mapping>
	
   	<servlet>
		<servlet-name>UpdateSomething</servlet-name>
		<servlet-class>com.vmesteonline.be.utils.UpdateSomething</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateSomething</servlet-name>
		<url-pattern>/utils/doupdate</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>OAuthServlet</servlet-name>
		<servlet-class>com.vmesteonline.be.OAuthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OAuthServlet</servlet-name>
		<url-pattern>/oauth</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AuthSericeServlet</servlet-name>
		<servlet-class>com.vmesteonline.be.AuthSericeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthSericeServlet</servlet-name>
		<url-pattern>/thrift/AuthService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserServiceServlet</servlet-name>
		<servlet-class>com.vmesteonline.be.UserServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServiceServlet</servlet-name>
		<url-pattern>/thrift/UserService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShopServiceServlet</servlet-name>
		<servlet-class>com.vmesteonline.be.ShopServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShopServiceServlet</servlet-name>
		<url-pattern>/thrift/ShopService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShopBOServiceServlet</servlet-name>
		<servlet-class>com.vmesteonline.be.ShopBOServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShopBOServiceServlet</servlet-name>
		<url-pattern>/thrift/ShopBOService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetImagesList</servlet-name>
		<servlet-class>com.vmesteonline.be.utils.GetImagesList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetImagesList</servlet-name>
		<url-pattern>/utils/gil</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>FileAccess</servlet-name>
		<servlet-class>com.vmesteonline.be.VoFileAccess</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileAccess</servlet-name>
		<url-pattern>/file/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FileService</servlet-name>
		<servlet-class>com.vmesteonline.be.FileServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileService</servlet-name>
		<url-pattern>/thrift/fs</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MainShop</servlet-name>
		<jsp-file>/shop.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainShop</servlet-name>
		<url-pattern>/shop/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>about</servlet-name>
		<jsp-file>/about-shop.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>about</servlet-name>
		<url-pattern>/about/*</url-pattern>
		<url-pattern>/terms/*</url-pattern>
		<url-pattern>/delivery-terms/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>shop</servlet-name>
		<jsp-file>/shop.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>shop</servlet-name>
		<url-pattern>/shop/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>backoffice</servlet-name>
		<jsp-file>/backoffice.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>backoffice</servlet-name>
		<url-pattern>/backoffice/*</url-pattern>
		<url-pattern>/backoffice</url-pattern>
	</servlet-mapping>

	
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>500</error-code>
		<location>/errors/servererror.jsp</location>
	</error-page>
	
	<filter>
		<filter-name>persistenceMananagerInit</filter-name>
		<filter-class>com.vmesteonline.be.PersistenceInitFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>persistenceMananagerInit</filter-name>
		<url-pattern>/file/*</url-pattern>
		<url-pattern>/thrift/*</url-pattern>
		<url-pattern>/backoffice/*</url-pattern>
		<url-pattern>/shop/*</url-pattern>
		<url-pattern>/about/*</url-pattern>
		<url-pattern>/</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>shopDetector</filter-name>
		<filter-class>com.vmesteonline.be.Main</filter-class>
		<init-param>
			<param-name>landingURL</param-name>
			<param-value>vomoloko.ru</param-value>
		</init-param>
		<init-param>
			<param-name>localPostfix</param-name>
			<param-value>.local</param-value>
		</init-param>
		<init-param><!-- Page to redirect from root context to enter to the shop -->
			<param-name>shopRootContext</param-name>
			<param-value>shop</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>shopDetector</filter-name>
		<url-pattern>/backoffice/*</url-pattern>
		<url-pattern>/shop/*</url-pattern>
		<url-pattern>/about/*</url-pattern>
		<url-pattern>/</url-pattern>
	</filter-mapping>
	

</web-app>
