<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- servlet>
		<servlet-name>oauth</servlet-name>
		<servlet-class>com.vmesteonline.hello.OAuthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>oauth</servlet-name>
		<url-pattern>/oauth</url-pattern>
	</servlet-mapping-->
	
	<servlet>
		<servlet-name>AuthSericeServlet</servlet-name>
		<servlet-class>com.vmesteonline.be.AuthSericeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthSericeServlet</servlet-name>
		<url-pattern>/thrift/AuthService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserServiceServlet</servlet-name>
		<servlet-class>com.vmesteonline.be.UserServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServiceServlet</servlet-name>
		<url-pattern>/thrift/UserService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MessageServiceServlet</servlet-name>
		<servlet-class>com.vmesteonline.be.MessageServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageServiceServlet</servlet-name>
		<url-pattern>/thrift/MessageService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DialogServiceServlet</servlet-name>
		<servlet-class>com.vmesteonline.be.DialogServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DialogServiceServlet</servlet-name>
		<url-pattern>/thrift/DialogService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FileAccess</servlet-name>
		<servlet-class>com.vmesteonline.be.VoFileAccess</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileAccess</servlet-name>
		<url-pattern>/file/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Init</servlet-name>
		<jsp-file>/init.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Init</servlet-name>
		<url-pattern>/init</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Main</servlet-name>
		<jsp-file>/main.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FileService</servlet-name>
		<servlet-class>com.vmesteonline.be.FileServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileService</servlet-name>
		<url-pattern>/thrift/fs</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>main.jsp</welcome-file>
	</welcome-file-list>
</web-app>
